@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
}

#cabecalhoIndex {
    background-image: url("fotos/grupo.jpg");
    background-size: cover;
    height: 800px;
    margin-bottom: 6    0px;   /* testar utilidade*/
}

#cabecalhoIndex nav{
    background-color: transparent;
}
#tituloHome{
    margin: 400px 100px;
}
#tituloHome h1 {
    color: snow;
    font-size: 65px;
    font-style: bolder;

}
#tituloHome h4 {
    color: snow;
    font-size: 30px;
    font-style: bolder;
    text-transform: uppercase;

}
.introducao {
    display: flex;
    margin: 30px 40px;  
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.introducao .apresentacao p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    padding: 0 5px;
    text-transform: none;
    margin: 40px 15px;
}
.apresentacao  {
    text-align: center;
    width: 80%;
    padding: 0 25px;   
}
.apresentacao h3 {
    font-size: 38px;
    color: #568763;
    text-transform: uppercase;
    font-weight: bold;
}
.intro-link-foto {
    padding: 0 25px;
    text-transform: uppercase;
    text-align: center;
    
  }

  .intro-link-foto a {
    text-align: center;
    color: #568763;
  }

  .intro-link-foto img {
    margin-top: 50px;
}
.atividades {
    font-size: 18px;
    font-style: normal;
    padding: 10px 25px;
    margin: 5px 25px;
    color: black;    
}
.palestras {
    background-color: #f3fff3;
    width: 100%;
    padding: 10px 55px;
}

.atividades h2 {
    text-align: center;
    font-size: 66px;
    font-weight: bold;
    color: #568763;;
    margin: 0px 0;
}
.atividades h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #568763;;
    margin-top: 55px;
    margin-bottom: 15px;
}
.atividades h5, .demais-atividades h5 {
    font-size: 26px;
    font-weight: bold;
    color: #568763;
  
}
.atividades h4 {
    font-size: 36px;
    font-weight: bold;
}

.atividades h6, a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

/*configurações Meninas Digitais */

.cabecalho-meninas {    
    display: flex;
    justify-content: center;
    margin: 20px 10px;  
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

#fotoMeninas {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-right: 20px;
}

.descricao-meninas {
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: normal;    
    width: 40%;
    padding: 0 5px;
    margin: 30px 15px;

}  

.cabecalho-meninas h5 {    
    font-size: 26px;
    font-weight: bold;
    color: #568763;
}

.meninas-main {   
    margin: 50px 10px;  
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.meninas-parte2 {
    margin-left: 25px;
    border-left: 1px solid #568763;
   
}

.meninas-main .meninas-parte2 img {
    position: relative;
    display: flex;
    justify-content: center;
    
}

.meninas-main h5 {
    color: #568763;
    font-weight: bold;
    font-size: 32px;
}

.meninas-main h6 {
    
    font-weight: normal;
    font-size: 20px;
}

/*configurações palestrantes*/
hr {
    border:none;
    height: 5px;
       width: 80%;
      height: 50px;
      margin-top: 0;
      border-bottom: 0.1px solid #568763;
      box-shadow: 0 20px 25px -20px #568763;
      margin: 0 auto;
  }

.p1, .p2, .p3, .p4, .p5, .p6, .wshop-detalhes1, .mc1, .mc2 {
    display: flex;
    margin: 5px 15px;  
 
  }

.autor1-main, .autor2-main, .autor3-main, .autor4-main, .autor5-main, .autor6-main, .mc1, .mc2 {
    margin: 40px 0;
    padding-bottom: 25px;
    cursor: pointer;
}


.autor1, .autor2, .autor3, .autor4, .autor5, .autor6, .wconceito, .wformato, .autormc1, .autormc2 {    
  font-size: 18px;
  font-weight: normal;
  text-align: justify;  
  text-transform: none;
  margin: 5px 5px;
  width: 50%;
}

.autor1-main .autor1 h6, .autor2-main .autor2 h6, .autor3-main .autor3 h6,  .autor4-main .autor4 h6, .autor5-main .autor5 h6,
.autor6-main .autor6 h6 {
    font-style: 700;
}

.autor1-foto, .autor2-foto, .autor3-foto, .autor4-foto, .autor5-foto, .autor6-foto, .autormc1-foto, .autormc2-foto {
    text-align: center;
    margin: 0 auto;   
    font-size: 14px;
    text-align: justify;
    width: 45%;
}

.autor1-foto img, .autor2-foto img, .autor3-foto img, .autor4-foto img, .autor5-foto img, .autor6-foto img, .autormc1-foto img, .autormc2-foto img {
    padding-left: 65px;
    margin: 35px 25px;
}

.autor1-bio, .autor2-bio, .autor3-bio, .autor4-bio, .autor5-bio, .autor6-bio, .autormc1-bio, .autormc2-bio {
    margin-left: 30px;
    font-size: 14px;
}

#saibaMais {
    margin-top: 30px;
    
}

i, .workshop a, .minicursos a, .demais-atividades a {
    color:  #568763;
}

/* botoes fechar - abrir palestras  */
   
   #p1abre, #p2abre, #p3abre, #p4abre, #p5abre, #p6abre, #wshopAbre {    
    padding: 25px 5px;
    font-style: normal;
    font-weight: bolder;
    font-size: 1,5em;
    color: #568763;
   }

   #p1fecha, #p2fecha, #p3fecha, #p4fecha, #p5fecha, #p6fecha, #mc1Fecha, #mc2Fecha  {
    font-style: normal;
    font-weight: bolder;
    font-size: 1,5em;
    color: #568763;
   }


   .atividades .palestras a:hover, .workshop a:hover, .minicursos a:hover, .demais-atividades a:hover {
     font-style: normal;
     font-weight: bolder;
     font-size: 1,5em;
     color: #375234;
     cursor: pointer;
   }
   


.workshop, .demais-atividades {
    background-color: #f3fff3;
    width: 100%;
    padding: 65px 55px;
    margin: 10px 0;    
    cursor: pointer;
}
.wshop-detalhes h6 {
    color: #568763;
}

.workshop hr {
    margin-bottom: 55px;
  }
  
.wconceito {
    padding-right: 20px;
}

.wformato {
    padding-left: 20px;
}

.minicursos {
    background-color: #f3fff3;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 55px;
    padding-right:55px;
    padding-left: 55px;
    margin-top: 15px;     
    cursor: pointer;
    color: #000000
}

.minicursos h5 {
    padding-top: 65px;
    
}

                /*CONFIGURAÇÕES DE HEADER DE TODAS PAGINAS*/

header nav{
    height: 130px;  
    background-color: #0F0F0C;
    opacity: 0.8;
}
#menu-nav{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#logo{
    width: 20%;
}
#menu-nav ul{
    color: white;
    display: inline-block;  
    margin-top: 40px;
}
#menuProgramacao, #menuChamadas{
    margin: 0;
    background-color: #0F0F0C;
}
#menu-nav li{   
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bolder;
}
#menu-nav a{
    color: white;
}
#menu-nav a:hover, #menu-nav .dropdown-toggle:hover{
    color: #4bb463;
    text-decoration: none;
    transition: 0.5s;
    
}
#menu-nav .dropdown-item:hover{   
    background-color: #4bb463;
    color: white;
}
#tituloPadrao{
    margin-top: 110px;
    text-align: center;
}
#tituloPadrao h1{
    color: #568763;
    font-size: 50px;
   font-weight: 600;
}
#tituloPadrao h2{
    color: #568763;
    font-size: 35px;
    font-weight: 600;

}
                /*CONFIGURAÇÕES DE FOOTER DE TODAS PAGINAS*/
footer {
    
    text-align: center;
    color: #161A08;

}
footer h1{
    font-weight: 700;   
    font-size: 56px;

}
#realizacoes, #patrocinio, #apoio, #apoioInstitucional {
    margin: 70px 0;
    
}
#realizacoes img, #patrocinio img, #apoio img, #apoioInstitucional img {
    height: auto;
    width: 280px;
    padding: 0 30px;
    margin: 0 30px;
}


#logoFim{
    background-color: #3f3f3d;
    margin-top: 50px;
    height: 180;
    padding: 0;
    margin: 0;

}
                /*CONFIGURAÇÕES MEDIA*/
@media only screen and(max-width: 1400px) {
    #menu-nav li{   
        display: inline-block;
        padding: 10px 5px;
        text-transform: uppercase;
        font-weight: bolder;
    }
}
