@charset "UTF-8";

        /*INDICE DE CONFIGURAÇÕES MEDIA TELAS PEQUENAS (MODELOS MENORES EMBAIXO, FEITOS PRIMEIRO) */

        /*  PIXEL2XL (max-width: 411px) and (max-height: 823px); 
            PIXEL2, IPHONE 6/7/8 PLUS(min-width: 410px) and (max-height: 731px);  
            IPHONE X, 6/7/8 (max-width: 375px) and (max-height: 812px);               
            IPHONE 5/SE, GALAXY 5S (max-width: 360px):  (MAIS EXTENSO);
        */

        /*INICIO CONFIGURAÇÕES @MEDIA */


@media only screen and (max-width: 1370px) {
     body{
        width: 100%;
    }
     #imgSurf {
        position: absolute;
        left: 60%;
        top: 2400px !important;
        width: 25% !important;
    }
}   

@media only screen  and (min-width: 410px) and (max-height: 823px) {
    /*CONFIGURAÇÕES GERAIS @MEDIA PIXEL2 XL.....*/

    body {
        max-width: 414px !important;
    }
    
    #cabecalhoIndex {
        background-image: none !important;
        height: auto !important;
    }

    #tituloHome{
        background-image: url(fotos/praia6.jpg);
        background-size: cover;
        height: 330px !important;
        margin: 0  !important;  
        position: static !important;      
    }

    #tituloHome h1 {
        color: whitesmoke !important;
        font-size: 37px !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 60% !important;
    }

    #tituloHome h4{
        font-size: 22px !important;
        font-weight: bold !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 76% !important;
    }

    .introducao .intro-link-foto {
        display: none !important;
    }

    .introducao, .atividades {
        margin: 0 !important;
    }
    .apresentacao {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .apresentacao h3 {
        font-size: 32px !important;
    }
    .apresentacao p {
        margin: 20px 10px !important;
    }
    h3 {
        margin-top: 30px !important;
    }
    .atividades {
        padding: 10px !important;
    }
    .atividades h2 {
        font-size: 46px !important;
    }
    .atividades h5{
        padding: 25px 10px 15px 10px !important; 
        margin: 0 !important;    }
    .atividades div {
        margin: 0px !important;
    }
    .frontFoto1, .descAutor1, .frontFoto2, .descAutor2, .frontFoto3, .descAutor3, .frontFoto4, .descAutor4, .frontFoto5, .descAutor5, .frontFoto6, .descAutor6, .wshop-detalhes1, .frontFotoMc1, .descAutorMc1, .frontFotoMc2, .descAutorMc2 {
        display: block !important;
    }
    .frontFoto1 div, .frontFoto2 div, .frontFoto3 div, .frontFoto4 div, .frontFoto5 div, .frontFoto6 div, .frontFotoMc1 div, .frontFotoMc2 div {
        width: 95% !important;
        padding-right:  0px !important;
        margin: 0 auto !important;
    }
   
    .autor1-foto img {
        justify-content: center !important;
        width: 60% !important;
    }
    .palestras {
        padding: 0 !important;
    }
    .autor1-main {
        margin: 0 !important;
    }
    .workshop {
        padding: 12px 8px !important;
    }
    .minicursos {
        padding: 10px 2px !important;
    }
    .demais-atividades {
        padding: 10px !important;
    }

    footer h1 {
        font-size: 40px !important;
    }
    footer img {
        margin: 0px !important;
        padding: 0px !important;
        width: 30% !important;   
    }

    #logoFim {
        margin-top: 10px !important;
        width: 100% !important;
        height: 80px !important;
    }

    #logoFim img {
        max-width: 411px !important;
    }
   
        
    #realizacoes, #patrocinio, #apoio, #apoioInstitucional {
        margin: 35px 0 !important;
    }
        
    #realizacoes h1, #patrocinio h1, #apoio h1, #apoioInstitucional h1 {
        margin-top: 20px !important;
        font-size: 37px !important;
    }

    #organizacao {
        margin: 10px !important;
    }
    #local h3, #local h4 {
        width: 80% !important;
    }
    #hospedagem {
        margin: 30px !important;
        padding-left: 0 !important;
        justify-content: center !important;
        text-align: justify !important;
    }
    #anais {
        margin: 30px !important;
    }
    #tabelaProgramacao {
        display: block !important;
        max-width: 98% !important;
        margin: 30px 0 !important;       
    }

    #legendaProgramacao {
        margin: 20px !important;
    }
    #legendaProgramacao ul {
        padding-left: 0 !important;
    }
    #atividadesProgramacao {
        margin: 0 !important;
    }
    #cardsProgramacao {
        margin: 40px !important;
    }
   #tabelaDia  {
       margin:0 !important;
   }
   
   .navbar {
       max-width: 411px !important;
   }

   .cabecalho-meninas {
       display: block !important;
       margin: 0 auto !important;
   }
   .descricao-meninas  {
       width: 100% !important;
   }   
}

@media only screen  and (min-width: 410px) and (max-height: 736px) {
    /*CONFIGURAÇÕES GERAIS @MEDIA PIXEL2 & IPHONE 6,7,8 PLUS*/
    body {
        width: 414px !important;
    }
    #cabecalhoIndex {
        background-image: none !important;
        height: auto !important;
        
    }
    #tituloHome{
        background-image: url(fotos/praia6.jpg);
        background-size: cover;
        height: 330px !important;
        margin: 0  !important;  
        position: static !important;      
    }

    #tituloHome h1 {
        color: whitesmoke !important;
        font-size: 37px !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 60% !important;
    }

    #tituloHome h4{
        font-size: 22px !important;
        font-weight: bold !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 76% !important;
    }

    .introducao .intro-link-foto {
        display: none !important;
    }

    .introducao, .atividades {
        margin: 0 !important;
    }
    .apresentacao {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .apresentacao h3 {
        font-size: 32px !important;
    }
    .apresentacao p {
        margin: 20px 10px !important;
    }
    h3 {
        margin-top: 30px !important;
    }
    .atividades {
        padding: 10px !important;
    }
    .atividades h2 {
        font-size: 46px !important;
    }
    .atividades h5{
        padding: 25px 10px 15px 10px !important; 
        margin: 0 !important;    }
    .atividades div {
        margin: 0px !important;
    }
    .frontFoto1, .descAutor1, .frontFoto2, .descAutor2, .frontFoto3, .descAutor3, .frontFoto4, .descAutor4, .frontFoto5, .descAutor5, .frontFoto6, .descAutor6, .wshop-detalhes1, .frontFotoMc1, .descAutorMc1, .frontFotoMc2, .descAutorMc2 {
        display: block !important;
    }
    .frontFoto1 div, .frontFoto2 div, .frontFoto3 div, .frontFoto4 div, .frontFoto5 div, .frontFoto6 div, .frontFotoMc1 div, .frontFotoMc2 div {
        width: 95% !important;
        padding-right:  0px !important;
        margin: 0 auto !important;
    }
   
    .autor1-foto img {
        justify-content: center !important;
        width: 60% !important;
    }
    .palestras {
        padding: 0 !important;
    }
    .autor1-main {
        margin: 0 !important;
    }
    .workshop {
        padding: 12px 8px !important;
    }
    .minicursos {
        padding: 10px 2px !important;
    }
    .demais-atividades {
        padding: 10px !important;
    }

    footer h1 {
        font-size: 40px !important;
    }
    footer img {
        margin: 0px !important;
        padding: 0px !important;
        width: 30% !important;   
    }
    
    #logoFim img {
        max-width: 411px !important;
    }
 
        
    #realizacoes, #patrocinio, #apoio, #apoioInstitucional {
        margin: 35px 0 !important;
    }
        
    #realizacoes h1, #patrocinio h1, #apoio h1, #apoioInstitucional h1 {
        margin-top: 20px !important;
        font-size: 37px !important;
    }

    #organizacao {
        margin: 10px !important;
    }
    #local h3, #local h4 {
        width: 80% !important;
    }
    #hospedagem {
        margin: 30px !important;
        padding-left: 0 !important;
        justify-content: center !important;
        text-align: justify !important;
    }
    #anais {
        margin: 30px !important;
    }
    #tabelaProgramacao {
        display: block !important;
        max-width: 98% !important;
        margin: 30px 0 !important;       
    }

    #legendaProgramacao {
        margin: 20px !important;
    }
    #legendaProgramacao ul {
        padding-left: 0 !important;
    }
    #atividadesProgramacao {
        margin: 0 !important;
    }
    #cardsProgramacao {
        margin: 40px !important;
    }
   #tabelaDia  {
       margin:0 !important;
   }
   
   .navbar {
       max-width: 411px !important;
   }

   .cabecalho-meninas {
       display: block !important;
       margin: 0 auto !important;
   }
   .descricao-meninas  {
       width: 100% !important;
   }   

} /*FIM CONFIGURAÇÕES @MEDIA PIXEL2, IPHONE 6,7,8 PLUS* */


@media only screen  and (max-width: 375px) and (max-height: 812px) {
    /*CONFIGURAÇÕES GERAIS @MEDIA IPHONE 6,7,8, X */
    body {
        max-width: 375px !important;
    }
    
    #cabecalhoIndex {
        background-image: none !important;
        height: auto !important;
        width: 100% !important;
    }
    #tituloHome{
        background-image: url(fotos/praia6.jpg);
        background-size: cover;
        height: 330px !important;
        margin: 0  !important;  
        position: static !important;      
    }

    #tituloHome h1 {
        color: whitesmoke !important;
        font-size: 37px !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 70% !important;
    }

    #tituloHome h4{
        font-size: 22px !important;
        font-weight: bold !important;
        position: relative;
        top: 80px !important;
        left: 30px !important;
        width: 80% !important;
    }

    .introducao .intro-link-foto {
        display: none !important;
    }

    .introducao, .atividades {
        margin: 0 !important;
    }
    .apresentacao {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .apresentacao h3 {
        font-size: 32px !important;
    }
    .apresentacao p {
        margin: 20px 10px !important;
    }
    h3 {
        margin-top: 30px !important;
    }
    .atividades {
        padding: 10px !important;
    }
    .atividades h2 {
        font-size: 46px !important;
    }
    .atividades h5{
        padding: 25px 10px 15px 10px !important; 
        margin: 0 !important;    }
    .atividades div {
        margin: 0px !important;
    }
    .frontFoto1, .descAutor1, .frontFoto2, .descAutor2, .frontFoto3, .descAutor3, .frontFoto4, .descAutor4, .frontFoto5, .descAutor5, .frontFoto6, .descAutor6, .wshop-detalhes1, .frontFotoMc1, .descAutorMc1, .frontFotoMc2, .descAutorMc2 {
        display: block !important;
    }
    .frontFoto1 div, .frontFoto2 div, .frontFoto3 div, .frontFoto4 div, .frontFoto5 div, .frontFoto6 div, .frontFotoMc1 div, .frontFotoMc2 div {
        width: 95% !important;
        padding-right:  0px !important;
        margin: 0 auto !important;
    }
   
    .autor1-foto img {
        justify-content: center !important;
        width: 60% !important;
    }
    .palestras {
        padding: 0 !important;
    }
    .autor1-main {
        margin: 0 !important;
    }
    .workshop {
        padding: 12px 8px !important;
    }
    .minicursos {
        padding: 10px 2px !important;
    }
    .demais-atividades {
        padding: 10px !important;
    }

    footer h1 {
        font-size: 40px !important;
    }
    footer img {
        margin: 0px !important;
        padding: 0px !important;
        width: 30% !important;   
    }
    
    #logoFim img {
        max-width: 411px !important;
    }
 
        
    #realizacoes, #patrocinio, #apoio, #apoioInstitucional {
        margin: 35px 0 !important;
    }
        
    #realizacoes h1, #patrocinio h1, #apoio h1, #apoioInstitucional h1 {
        margin-top: 20px !important;
        font-size: 37px !important;
    }

    #organizacao {
        margin: 10px !important;
    }
    #local h3, #local h4 {
        width: 80% !important;
    }
    #hospedagem {
        margin: 30px !important;
        padding-left: 0 !important;
        justify-content: center !important;
        text-align: justify !important;
    }
    #anais {
        margin: 30px !important;
    }
    #tabelaProgramacao {
        display: block !important;
        max-width: 98% !important;
        margin: 30px 0 !important;       
    }

    #legendaProgramacao {
        margin: 20px !important;
    }
    #legendaProgramacao ul {
        padding-left: 0 !important;
    }
    #atividadesProgramacao {
        margin: 0 !important;
    }
    #cardsProgramacao {
        margin: 40px !important;
    }
   #tabelaDia  {
       margin:0 !important;
   }
   
   .navbar {
       max-width: 411px !important;
   }

   .cabecalho-meninas {
       display: block !important;
       margin: 0 auto !important;
   }
   .descricao-meninas  {
       width: 100% !important;
   }   

} /*FIM CONFIGURAÇÕES @MEDIA IPHONE 6/7/8 */

@media only screen and (max-width: 360px)  {
    /*CONFIGURAÇÕES GERAIS @MEDIA IPHONE 5/SE, GALAXY S5*/
body {
width: 100% !important;
}
li{
list-style-type: none;   
}
p {
margin: 10px 3px 15px 3px !important;
}
hr {
margin-top: -40px !important;  

}
        /*CONFIGURAÇÕES GERAIS DE HEADER*/
.navbar-nav{
margin-left: 0px !important;

}
        /*CONFIGURAÇÕES @MEDIA INDEX*/
#cabecalhoIndex {
background-image: none !important;
height: auto !important;
}

#tituloHome{
background-image: url(fotos/praia6.jpg);
background-size: cover;
height: 330px !important;
margin: 0  !important;  
position: static !important; 
      
}

#tituloHome h1 {
color: whitesmoke !important;
font-size: 37px !important;
position: relative;
top: 90px !important;
left: 30px !important;
width: 85% !important;
}

#tituloHome h4{
font-size: 20px !important;
font-weight: bold !important;
position: relative;
top: 90px !important;
left: 30px !important;
width: 88% !important;
}
.intro-link-foto {
display: none !important;
}
.apresentacao {
width: 100% !important;
padding: 0 !important;
margin-top: -70px !important;

}
.introducao {
margin: 0 5px !important;

}

.introducao h3, .introducao h4, .introducao hr, .introducao p, .atividades {
position: relative;
top: 90px;
}

.frontFoto1, .descAutor1, .frontFoto2, .descAutor2, .frontFoto3, .descAutor3, .frontFoto4, .descAutor4, .frontFoto5, .descAutor5, .frontFoto6, .descAutor6, .wshop-detalhes1, .frontFotoMc1, .descAutorMc1, .frontFotoMc2, .descAutorMc2 {
display: block !important;
}
.atividades {
margin: 30px 5px !important;
padding: 0 5px !important;
}
.palestras {
padding: 1px 2px !important;
}

.autor1, .autor2, .autor3, .autor4, .autor5, .autor6, .wconceito, .wformato, .autormc1, .autormc2, .descAutor1, .descAutor2, .descAutor3, .descAutor4, .descAutor5, .descAutor6, .descAutorMc1, .descAutorMc2 {
margin: 25px 0 !important;

}

.autor1-bio, .autor2-bio, .autor3-bio, .autor4-bio, .autor5-bio, .autor6-bio, .autormc1-bio, .autormc2-bio {
margin-left: 0px !important;

}

.palestras .descIntro1.col {
padding: 0 0px !important;
}
.atividades h2 {
font-size: 46px !important;
}

.workshop p, .minicursos p, .demais-atividades p {
margin: 0 5px;
}
.workshop {
padding: 25px 2px!important;
}
.wformato {
padding-left: 0 !important;
}
#workShop div {
margin: 0 3px !important;
}
.wshop-detalhes h6 {
margin-left: -7px !important;
}
.wconceito {
padding-right: 6px !important;
}
.wshop-detalhes ul {
margin-left: 12px !important;
}    

.atividades h3 {
margin-top: 38px !important;
}
.minicursos {
 padding: 10px 5px !important;
 
}

.workshop h5, .minicursos h5, .demais-atividades h5 {
 padding: 15px 5px !important;
 text-align: left !important;
}

.demais-atividades {
 margin-bottom: 30px !important;
 padding-bottom: 25px !important;
}
.demais-atividades p {
 margin: 0 !important;
}

.frontFoto1 div, .frontFoto2 div, .frontFoto3 div, .frontFoto4 div, .frontFoto5 div, .frontFoto6 div, .autormc1-foto, .autormc2-foto, .frontFotoMc1 div, .frontFotoMc2 div {
width: 98% !important;
}
.autor1-foto img {
width: 70% !important;
}
.autor2-foto img, .autor3-foto img {
width:55%;
}
        /*CONFIGURAÇÕES @MEDIA FOOTER*/
footer {
margin-top: 20px !important;

}
footer img {
margin: 0px !important;
padding: 0px !important;
width: 30% !important;   

}

#realizacoes, #patrocinio, #apoio, #apoioInstitucional {
margin: 35px 0 !important;
}
#realizacoes h1, #patrocinio h1, #apoio h1, #apoioInstitucional h1 {
margin-top: 20px !important;
font-size: 37px !important;
}

#logoFim {
height: 80px !important;
width: 100% !important;
margin-top: 10px !important;        
}   



        /*CONFIGURAÇÃO @MEDIA GRADE DE PROGRAMAÇÃO*/
#tabelaProgramacao {
display: contents !important;
margin: 0px !important;
}
#tabelaDia{
margin: 30px 0px 0px !important; 
font-size: 16px !important;
}
.horarioGrade, .stGrade, .mcGrade, .cbGrade, .palestraGrade, .almocoGrade, .workshopGrade, .tracoGrade, .concursoGrade{
padding: 0px !important;
}
#legendaProgramacao{
margin: 10px 0px !important;
}
#legendaProgramacao ul{
margin: 0px !important;
padding: 0px !important;
}
#atividadesProgramacao {
margin: 60px 0px 0px !important;
}
#cardsProgramacao {
margin: 10px 30px !important;
display: unset !important;
}
#imgSurf{
display: none;
}
     /*CONFIGURAÇÃO @MEDIA  ORGANIZAÇÃO*/
#organizacao {
margin: 10px!important;
padding: 0px !important;
}
#organizacao .col-sm{
margin: 20px 0 !important;
}


    /*CONFIGURAÇÃO @MEDIA MENINAS DIGITAIS */
#meninasCorpo {
font-size: 16px !important;
padding: 0px !important;
text-align: justify;
}

#meninasCorpo h1 {
margin-top: -55px;
font-size: 32px !important;
}
.meninas-main h5 {
font-size: 26px !important;
}

#meninasCorpo #tituloPadrao h2 {
font-size: 23px;
margin-bottom: 0 !important;
}
#meninasCorpo #tituloPadrao hr {
display: none;
}

#meninasCorpo hr {
height: 60px !important;
}
.cabecalho-meninas {
display: block !important;    
margin-top: 28px !important;          
}

.meninas-main.row {
display: block !important;
}

#fotoMeninas {
margin:0 auto !important;
width: 70%;
}
.descricao-meninas  {
margin: 0 auto !important;
padding-top: 20px !important;
width: 100% !important;
text-align: justify;
}

.meninas-main ul {
padding-left: 8px !important;
margin-top: -5px !important;
margin-bottom: 6px !important;
}

.meninas-parte1 {
position: relative;
left: -2px;
margin: -15px 15px 0 -8px !important;
text-align: justify;
padding-right: 0 !important;       
}

.meninas-parte1 h6, .meninas-parte2 h6 {
text-align: left;
}
.meninas-parte2 {
margin-top: 30px;
margin-left: 0px !important;
padding: 0 5px !important;
border-left: none !important;
}
.meninas-parte2 img {        
width: 60% !important;  
}
.meninas-bio1 {
display: block !important;
margin-top: 18px !important;
font-size: 16px !important;
}
.meninas-bio1 p {
margin: 15px -5px -80px !important;
padding: 0 1px !important;
padding-bottom: 30px !important;
font-size: 18px !important;      
}

     /*CONFIGURAÇÕES @MEDIA PAINEL*/
.containerPainel {
margin: 15px 8px !important;
}    

.containerPainel #tituloPadrao h5 {        
text-align: left;   
margin-left: 5px !important; 
}
.containerPainel hr {        
margin-top: -43px !important;  
margin-bottom: 15px !important;      
}
.painelBio1 img, .painelBio2 img, .painelBio3 img {
width: 60%;
margin: -10px 0 !important;
}
.painelBio1 p, .painelBio2 p, .painelBio3 p {
padding: 0 12px !important;
margin-bottom: 25px !important;
}
.containerPainel footer img {
margin: 0 5px !important;
padding: 0 5px !important;
width: 150px !important;
display: inline-block;
}
.containerPainel footer h1 {
margin-top: 20px !important;
}

     /*SESSOES @MEDIA TEC. - ARTIGOS COMPLETOS */

.mainTecnicas {
margin: 0px 8px !important;
}
.mainTecnicas h2 {
font-size: 26px !important;
margin-bottom: 3px !important;
}
.mainTecnicas h4 {
margin-bottom: 8px !important;
}
.mainTecnicas #tituloPadrao hr,  .mainTecnicas .sTecnicas hr {
margin-top: -30px !important;
margin-bottom: 25px !important;
}
.sTecnicas {
margin-top: 20px !important;
margin-left: 5px !important;
margin-right: 0px !important;       
}
.sTecnicas ul {
padding-left: 0px !important;
}

.sTecnicas li {
list-style-type: circle !important;
} 

#stHead {
margin-top: 5px !important;
padding-left: 5px !important;
}
#stHead h5 {
margin-bottom: 0px !important;

}

     /*CONFIGURAÇÃO @MEDIA RESUMOS ESTENDIDOS:"MESMAS CLASSES ACIMA */

    /*CONFIGURAÇÃO @MEDIA CONCURSO DE TRAB. TEC. PROGRAMAÇÃO*/
.mainTecnicos .tecnicos  {
display: block !important;
margin: 0 3px !important;
}



    /*CONFIGURAÇÃO @MEDIA CONCURSO DE TRAB. TEC. CHAMADAS*/
.mainChamadas{
margin: 10px 10px !important;

}
.introChamadas li{
margin-left: 5px;
list-style-type: circle !important;
}


    /*CONFIGURAÇÕES @MEDIA INSCRIÇÕES */

#myTable {
width: 97% !important;
}    

#myTable th {
font-size: 14px !important; 
padding: 4px !important;   
} 
#myTable .valor {
width: 24% !important;
}

.mainInscricoes td {
padding: 5px 3px !important;
}
.mainInscricoes th {
max-width: fit-content !important;
}  

    /*CONFIGURAÇÕES @MEDIA CONCURSO TRABALHOS TECNICOS*/
.mainTecnicos {        
margin: 0 8px 0 !important;
}


    /*CONFIGURAÇÕES @MEDIA ANAIS*/
#anais{
margin: 30px !important;
}
    /*CONFIGURAÇÕES @MEDIA LOCAL HOSPEDAGEM*/
#hospedagem {
margin: 15px 20px !important;
padding-left: 0px !important;
text-align: justify;
}
#hospedagem li {
list-style-type: circle !important;
}

#hospedagem ul {
padding-left: 18px !important;
}
    /*CONFIGURAÇÕES @MEDIA TRILHA */


.mainTrilha {
margin: 0 10px !important;

}

.datasTrilha ul {
margin-left: 5px;
padding-left: 30px;
}
.datasTrilha li, .trilhaCoord li {
list-style-type: circle !important;
}

.mainTrilha h2 {
margin: 0 !important;
}

.mainTrilha h4 {
margin-top: 15px !important;
}
.colTopicos{
margin: 0px;
}
.topicos {
margin: 0px 20px !important;
}
.topicos li {
list-style-type: circle;
}
.trilhaCoord h5 {
padding-left: 10px !important;
}
.trilhaCoord li{
margin-left: -10px;
}
.linksTrilha{
margin: 0px !important;
}

    /*CONFIGURAÇÕES @MEDIA LOCAL */

#local h3 {
width: 90% !important;
}
#local h4 {
width: 80% !important;
}   
}
/*FIM DAS CONFIGURAÇÕES @MEDIA IPHONE 5/SE, GALAXY S5 */
