@charset "UTF-8";

body{margin:0;
    height: 50%;
    width: 100%;
    background: url("fotos/grupo.jpg");
    background-repeat: no-repeat;
}
.img-responsive img{
    width: 100%;
  
}



.navbar{
    background-color: gray;
    color: white !important;
}
.navbar a{
    color: white !important;
}

.navbar-nav .dropdown-menu{
    
    background-color: gray;
}
.navbar-nav .dropdown-menu :hover{
    
    background-color: darkgray;
}