@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3333;
}

.cabecalho {
    background-image: url("fotos/grupo.jpg");
    background-size: cover;
    height: 800px;
    margin-bottom: 10px;   
}
.cabecalho nav{
    background-color: transparent;
}
.cabecalho h1 {
    color: snow;
    position: absolute;
    bottom: 200px;
    left: 90px;
    font-size: 65px;
    font-style: bolder;

}
.cabecalho h4 {
    color: snow;
    position: absolute;
    bottom: 150px;
    left: 90px;
    font-size: 30px;
    font-style: bolder;
    text-transform: uppercase;

}
.introducao {
    display: flex;
    margin: 30px 40px;    
}
.introducao p {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    padding: 0 5px;
    text-transform: none;
    margin: 40px 15px;
}
.apresentacao  {
    text-align: center;
    width: 80%;
    padding: 0 25px;   
}
.apresentacao h3 {
    font-size: 38px;
    color: #ff6f61;
    text-transform: uppercase;
    font-weight: bold;
}
.intro-link-foto {
    padding: 0 25px;
    text-transform: uppercase;
    text-align: center;
    
  }

  .intro-link-foto a {
    text-align: center;
    color: #ff6f61 !important;
  }

  .intro-link-foto img {
    margin-top: 50px;
}
.atividades {
    font-size: 18px;
    font-style: normal;
    padding: 10px 25px;
    margin: 10px 25px;
    color: black;    
}
.palestras {
    background-color: #f3fff3;
    width: 100%;
    padding: 30px 55px;
}

.atividades h2 {
    text-align: center;
    font-size: 66px;
    font-weight: bold;
    color: #568763;;
    margin: 30px 0;
}
.atividades h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #568763;;
    margin-top: 40px;
    margin-bottom: 15px;
}
.atividades h5 {
    font-size: 26px;
    font-weight: bold;
    color: #568763;;
  
}
.atividades h4 {
    font-size: 36px;
    font-weight: bold;
}

.atividades h6, a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

/*configurações michel*/
.p1michel {
    display: flex;
    margin: 20px 20px;   
  }

.michel-main {
    margin: 50px 0;
}

.michel {    
  font-size: 18px;
  font-weight: normal;
  text-align: justify;  
  text-transform: none;
  margin: 15px 10px;
  width: 50%;
}

.michel-main .michel h6 {
    font-style: 700;
}

.michel-foto {
    text-align: center;
    margin: 0 auto;   
    font-size: 14px;
    text-align: justify;
    width: 45%;
}

.michel-foto img {
    padding-left: 65px;
    margin-bottom: 25px;
}

.michel-bio {
    margin-left: 30px;
    font-size: 14px;
}

.p1abre {
    cursor: pointer;
}

.p1fecha {
    cursor: pointer;
}

/*configurações robson*/
.p0robson {
    display: flex;
    margin: 20px 20px;   
  }

.robson-main {
    margin: 20px 0;
}

.robson {    
  font-size: 18px;
  font-weight: normal;
  text-align: justify;  
  text-transform: none;
  margin: 15px 10px;
  width: 50%;
}

.robson-main .robson h6 {
    font-style: 700;
}

.robson-foto {
    text-align: center;
    margin: 0 auto;   
    font-size: 14px;
    text-align: justify;
    width: 45%;
}

.robson-foto img {
    padding-left: 65px;
    margin-bottom: 25px;
}

.robson-bio {
    margin-left: 30px;
    font-size: 14px;
}

.p0abre {
    cursor: pointer;
}

.p0fecha {
    cursor: pointer;
}

/*configurações andrea*/
.p3andrea {
    display: flex;
    margin: 20px 20px;   
  }

.andrea-main {
    margin: 50px 0;
}

.andrea {    
  font-size: 18px;
  font-weight: normal;
  text-align: justify;  
  text-transform: none;
  margin: 15px 10px;
  width: 50%;
}

.andrea-main .andrea h6 {
    font-style: 700;
}

.robson-foto {
    text-align: center;
    margin: 0 auto;   
    font-size: 14px;
    text-align: justify;
    width: 45%;
}

.robson-foto img {
    padding-left: 65px;
    margin-bottom: 25px;
}

.andrea-bio {
    margin-left: 30px;
    font-size: 14px;
}

.p3abre {
    cursor: pointer;
}

.p3fecha {
    cursor: pointer;
}

/* botoes fechar - abrir palestras  */
   
   #p0abre, #p1abre, #p3abre {
    margin: 15px;
    padding: 15px;
    font-style: normal;
    font-weight: bolder;
    font-size: 1,5em;
    color: #568763;
   }

   #p0fecha, #p1fecha, #p3fecha {
    font-style: normal;
    font-weight: bolder;
    font-size: 1,5em;
    color: #568763;
   }


   .atividades .palestras a:hover {
     font-style: normal;
     font-weight: bolder;
     font-size: 1,5em;
     color: #375234;
   }
   

.workshop, .minicursos {
    background-color: #f7f7f7;
    width: 100%;
    padding: 25px;
}
.demais-atividades {
    background-color: #f7f7f7;
    width: 100%;
    padding: 25px;
    text-align: center;
}
                /*FOOTER INDEX*/
footer {
    text-align: center;
    color: #161A08;
    margin: 35px 0;
}
footer h2 {
    margin-top: 85px;
    margin-bottom: 10px;
    font-size: 66px;
    font-weight: normal;
}
footer img {
    margin: 5px 35px;
}
.logo-fim {
    margin: 85px 0;
}
                /*CONFIGURAÇÕES DE HEADER DE TODAS PAGINAS*/

header nav{
    height: 130px;  
    background-color: #69E6FF;
}
#logo{
    width: 20%;
}
#menu-nav ul{
    color: white;
}
#menu-nav .dropdown-menu{
    background-color: #69E6FF;
}
#menu-nav li{   
    display: inline-block;
    margin: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}
#menu-nav a{
    color: white;
}
#menu-nav a:hover, #menu-nav .dropdown-toggle:hover{
    color: #4bb463;
    text-decoration: none;
    transition: 0.5s;
    
}

