doctype html
head
  title Computer on the Beach
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='CSS/bootstrap.css')
  script(src='JS/jquery-3.3.1.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='main.js')
  link(rel='stylesheet' type='text/css' href='estilo.css')
  link(rel='stylesheet' type='text/css' href='estilo_pequeno.css' media='only screen and (min-width: 320px) and (max-width: 995px)')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Frijole|Nosifer&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Rammetto+One&display=swap' rel='stylesheet')
header#cabecalhoIndex
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(data-toggle='collapse' data-target='#menuNav')
      span.navbar-toggler-icon
    a(href='index.html')
      img.logo(src='fotos/logo.png')
    #menuNav.collapse.navbar-collapse
      a.nav-brand(href='index.html')
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='index.html') HOME
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown' data-target='#menuProgramacao' href='gradeDeProgramacao.html')
            | PROGRAMA&Ccedil;&Atilde;O
            span.caret
          .dropdown-menu(aria-labelledby='menuProgramacao')
            a.dropdown-item(href='gradeDeProgramacao.html') GRADE DE PROGRAMA&Ccedil;&Atilde;O
            a.dropdown-item(href='workshopMeninasDigitais.html')
              | WORKSHOP MENINAS
              br
              |  DIGITAIS
            a.dropdown-item(href='painel.html') PAINEL
            a.dropdown-item(href='sessoesTecnicas.html') SESS&Otilde;ES T&Eacute;CNICAS
            a.dropdown-item(href='resumosEstendidos.html') RESUMOS ESTENDIDOS
            a.dropdown-item(href='programacaoConcursoTrabalhosTecnicos.html')
              | CONCURSO DE TRABALHOS
              br
              |  T&Eacute;CNICOS
            a.dropdown-item(href='localEHospedagem.html') LOCAL E HOSPEDAGEM
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown' data-target='#menuChamadas' href='gradeDeProgramacao.html')
            | CHAMADAS
            span.caret
          .dropdown-menu(aria-labelledby='menuChamadas')
            a.dropdown-item(href='trilhaPrincipal.html') TRILHA PRINCIPAL
            a.dropdown-item(href='chamadaConcursoTrabalhosTecnicos.html')
              | CONCURSO DE TRABALHOS
              br
              |  T&Eacute;CNICOS
        li.nav-item
          a.nav-link(href='inscricoes.html') INSCRI&Ccedil;&Otilde;ES
        li.nav-item
          a.nav-link(href='organizacao.html') ORGANIZA&Ccedil;&Atilde;O
        li.nav-item
          a.nav-link(href='anais.html') ANAIS
  #tituloHome
    h1 COMPUTER ON THE BEACH 2020
    h4 De 04 a 06 de abril, em Baln. Camboriu, SC.
main
  .introducao
    .apresentacao
      h3 Conhe&ccedil;a o evento
      div
        h4 11&ordm; Edi&ccedil;&atilde;o
      p
        | A Universidade do Vale do Itaja&iacute; &ndash; UNIVALI e a EMCT- Escola do Mar, Ci&ecirc;ncia e Tecnologia, atrav&eacute;s dos seus cursos de Ci&ecirc;ncia da Computa&ccedil;&atilde;o Campus Kobrasol e Engenharia de Computa&ccedil;&atilde;o do Campus Itaja&iacute; realizam anualmente o COMPUTER ON THE BEACH.
        br
        |                                     Trata-se de um evento t&eacute;cnico-cient&iacute;fico que visa reunir profissionais, pesquisadores e acad&ecirc;micos da &aacute;rea de computa&ccedil;&atilde;o, a fim de discutir as tend&ecirc;ncias de pesquisa e mercado da computa&ccedil;&atilde;o em suas mais diversas &aacute;reas.
        br
        |                                     O evento procura unir o &uacute;til ao agrad&aacute;vel em prol de um interc&acirc;mbio de experi&ecirc;ncias, discutindo de maneira informal, por&eacute;m t&eacute;cnica, misturando atividades t&eacute;cnico-cient&iacute;ficas com atividades de lazer, ao ar livre, das quais se pode desfrutar das belezas de Florian&oacute;polis durante o ver&atilde;o.
        br
        |                                     Em 2019, esperamos por voc&ecirc; para aproveitar conosco a 10&ordf; edi&ccedil;&atilde;o do Computer on the Beach.
    br
    #introLinkFoto.intro-link-foto
      h4 Turma &quot;Computer on the Beach 2019&quot;
      img.img-fluid(src='fotos/grupo.jpg')
  .atividades
    h2 Atividades 2020
    h3 Palestras
    .palestras
      #autor1Main.autor1-main
        h5 ABERTURA: Voc&ecirc; &eacute; mesmo feliz?
        .frontFoto1(title='Saiba mais')
          .pDetalhes(style='width: 80%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Robson Freire (UNIVALI).
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            p
              | Para o Professor Robson Freire falar de felicidade &eacute; um papo s&eacute;rio. Todo mundo quer ser feliz, n&atilde;o quer? Vivemos nesta busca incessante e a cada dia, cada minuto, cada segundo somos bombardeados por uma s&eacute;rie de informa&ccedil;&otilde;es que nos dizem que devemos e precisamos ser felizes. Diversos est&iacute;mulos &ndash; dinheiro, amor, sexo, peso, joias, status, desempenho acad&ecirc;mico e profissional, ou tamanho da casa &ndash; podem influenciar muito ou pouco a nossa satisfa&ccedil;&atilde;o com a vida.
            #saibaMais
              i.fas.fa-chevron-down
              a#p1abre.p1abre
                i Saiba mais...
          .autor1-foto
            img(src='fotos/robson.png' height='auto' width='60%')
        br
        #p1.p1(style='display: none')
          .autor1(title='Fechar')
            .descAutor1.row
              .descIntro1.col
                br
                p
                  | Uma pesquisa realizada com jovens acad&ecirc;micos identificou que cerca de 35% dos estudantes t&ecirc;m pelo menos um tipo de transtorno mental, que pode causar consequ&ecirc;ncias psicol&oacute;gicas por toda a vida, enquanto 31% desses jovens apresentam alguma desordem emocional tempor&aacute;ria. A ideia desse estudo partiu da Organiza&ccedil;&atilde;o Mundial da Sa&uacute;de (OMS), preocupada com esses jovens universit&aacute;rios que sofrem tamb&eacute;m com a inseguran&ccedil;a em rela&ccedil;&atilde;o ao futuro.
                  br
                  |                                                       O que disputa a sua aten&ccedil;&atilde;o? Afinal, vivemos o imperativo da felicidade. Voc&ecirc; &eacute; feliz? O que &eacute; felicidade para voc&ecirc;? O que nos mant&eacute;m saud&aacute;veis e felizes? Para refletir sobre esse tema t&atilde;o complexo, o professor Robson Freire, na palestra intitulada &ldquo;Na vibe da felicidade&rdquo;, combina o rigor das pesquisas cient&iacute;ficas realizadas na economia e na psicologia com o avan&ccedil;o de estudos recentes da ci&ecirc;ncia comportamental. Um apelo apaixonado para que a busca da satisfa&ccedil;&atilde;o com a vida esteja em primeiro lugar
                br
              .autor1-bio.col
                br
                h6
                  i Robson Freire
                p
                  | Mestre em Administra&ccedil;&atilde;o, pela Univali, e p&oacute;s-graduado em Gest&atilde;o de Recursos Humanos, Marketing para Gest&atilde;o Empresarial, pela UFSC, Robson oferece, com base em suas pr&oacute;prias experi&ecirc;ncias de vida e na doc&ecirc;ncia, algumas respostas sobre a felicidade que mostram a import&acirc;ncia da busca do equil&iacute;brio entre o prazer e o prop&oacute;sito para a satisfa&ccedil;&atilde;o pessoal. Pioneiro no Brasil a propor, desenvolver e lecionar a disciplina Felicidade em n&iacute;vel acad&ecirc;mico &ndash; gradua&ccedil;&atilde;o e p&oacute;s-gradua&ccedil;&atilde;o lato sensu. Tamb&eacute;m atua como professor de gradua&ccedil;&atilde;o e p&oacute;s-gradua&ccedil;&atilde;o nas disciplinas de Gest&atilde;o de Pessoas, Relacionamento Interpessoal, Pesquisa de Mercado, Marketing, Gest&atilde;o estrat&eacute;gica, Gest&atilde;o de Projetos, Empreendedorismo, Metodologia de Pesquisa e pelos Trabalhos de Conclus&atilde;o de Curso. &Eacute; consultor de empresas, palestrante e possui cap&iacute;tulos de livros e artigos publicados em congressos nacionais e internacionais.
            #saibaMais
              i.fas.fa-chevron-up
              a#p1fecha.p1fecha
                i &nbsp;Fechar
      #autor2Main.autor2-main
        h5
          | 2&ordf; PALESTRA: Tratando milh&otilde;es de eventos de miss&atilde;o cr&iacute;tica por m&ecirc;s em tempo real.
        .frontFoto2(title='Saiba mais')
          div(style='width: 40%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Michel Reips (Segware)
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            #saibaMais
              i.fas.fa-chevron-down
              a#p2abre.p2abre
                i Saiba mais...
          .autor2-foto
            img(src='fotos/michel.png' height='auto' width='45%')
        br
        #p2.p2(style='display: none')
          .autor2(title='Fechar')
            .descAutor2.row
              .descIntro2.col
                br
                p
                  | Como podemos receber, processar e armazenar milh&otilde;es de eventos diariamente de forma ass&iacute;ncrona, garantindo ordem de entrega e rapidez? Vamos mostrar como fizemos tudo isso usando micro servi&ccedil;os, mensageria clusterizada e banco de NoSQL.
              .autor2-bio.col
                br
                h6
                  i Michel Reips
                p
                  | Formado em Desenvolvimento de Jogos Digitais pela Univali no ano de 2013. Desenvolvedor com experi&ecirc;ncia desde a comunica&ccedil;&atilde;o com o hardware at&eacute; em aplicativos para usu&aacute;rio final, atualmente, L&iacute;der de Integra&ccedil;&otilde;es na empresa Segware.
            br
            #saibaMais
              i.fas.fa-chevron-up
              a#p2fecha.p2fecha
                i &nbsp;Fechar
      #autor3Main.autor3-main
        h5
          | 3&ordf; PALESTRA: A prote&ccedil;&atilde;o dos dados pessoais e as novas tecnologias: caos ou oportunidades?
        .frontFoto3(title='Saiba mais')
          div(style='width: 40%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrantes:  Andrea Willemin e Ramic&eacute;s da Silva.
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            #saibaMais
              i.fas.fa-chevron-down
              a#p3abre.p3abre
                i Saiba mais...
          .autor3-foto
            img(src='fotos/luciana.jpeg' height='auto' width='45%')
        br
        #p3.p3(style='display: none')
          .autor3(title='Fechar')
            .descAutor3.row
              .descIntro3.col
                br
                p
                  | Em Agosto de 2020, entra em vigor a Lei Geral de Prote&ccedil;&atilde;o de Dados(LGPD). Al&eacute;m de criar novos direitos para pessoas f&iacute;sicas, como o direito &agrave;
                  | exclus&atilde;o de dados e portabilidade entre servi&ccedil;os semelhantes, a lei prev&ecirc;
                  | diversas mudan&ccedil;as na forma como o tratamento de dados deve ser feito em
                  | institui&ccedil;&otilde;es p&uacute;blicas e privadas.
                  | O que s&atilde;o, afinal, dados pessoais? Quais s&atilde;o as mudan&ccedil;as que as empresas
                  | que fazem tratamento de dados pessoais devem atentar neste momento?
                  | Quais s&atilde;o as consequ&ecirc;ncias de n&atilde;o-cumprimento das medidas previstas na
                  | lei? Quais dificuldades t&eacute;cnicas desenvolvedores, designers e gestores
                  | enfrentar&atilde;o para adequar seus servi&ccedil;os e projetos?
                  | Mais do que uma inova&ccedil;&atilde;o legislativa, a LGPD representa uma mudan&ccedil;a de
                  | cultura em privacidade no Brasil. Os impactos dessa lei v&atilde;o desde cadastros
                  | internos no setor de RH de empresas, dados m&eacute;dicos sens&iacute;veis de pacientes
                  | em hospitais, cadastros em sites de compras e at&eacute; mesmo bancos de dados de
                  | prefeituras. Compreender as mudan&ccedil;as necess&aacute;rias e os aspectos gerais da lei
                  | &eacute; essencial para empresas e servi&ccedil;os que fazem tratamento de dados
                  | pessoais.
              br
              .autor3-bio.col
                br
                h6
                  i Andrea Willemin 
                p
                  | Andrea &eacute; Advogada, Data Protection Officer, certificada pela Comunidade Europeia, Doutoranda em Ci&ecirc;ncia da Informa&ccedil;&atilde;o e Tecnologia pela Universidade Federal de Santa Catarina, Mestre em Direito da Sociedade de Informa&ccedil;&atilde;o e Propriedade Intelectual pela Universidade Federal de Santa Catarina &ndash; UFSC, p&oacute;s-graduada em Prote&ccedil;&atilde;o de Dados e em Seguran&ccedil;a da Informa&ccedil;&atilde;o pela Universidade de Maastrischt/ Holanda e EPFL/Su&iacute;&ccedil;a; graduada em Direito pela Pontif&iacute;cia Universidade Cat&oacute;lica de S&atilde;o Paulo &ndash; PUC/SP e Universit&eacute; de Neuch&acirc;tel &ndash; Su&iacute;&ccedil;a; Economista formada pela Universit&eacute; de Savois &ndash; Fran&ccedil;a e Universit&eacute; Gen&egrave;ve &ndash; Su&iacute;&ccedil;a; Executive MBA Universit&eacute; de Gen&egrave;ve.
            br
            #saibaMais
              i.fas.fa-chevron-up
              a#p3fecha.p3fecha
                i &nbsp;Fechar
      #autor4Main.autor4-main
        h5 4&ordf; PALESTRA: Seguran&ccedil;a da Informa&ccedil;&atilde;o em Cooperativas de Credito Sistema Sicoob.
        .frontFoto4(title='Saiba mais')
          div(style='width:40%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Paulo Silva (Tracker Consultoria)
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            #saibaMais
              i.fas.fa-chevron-down
              a#p4abre.p4abre
                i Saiba mais...
          .autor4-foto
            img(src='fotos/paulo.jpg' height='auto' width='44%')
        br
        #p4.p4(style='display: none')
          .autor4(title='Fechar')
            .descAutor4.row
              .descIntro4.col
                p Descri&ccedil;&atilde;o da palestra etc......
              .autor4-bio.col
                br
                h6
                  i Paulo Silva 
                p
                  | Paulo Silva &eacute; Doutor pela Universidade Federal de Santa Catarina, Diretor de Consultoria da Tracker Seguran&ccedil;a da Informa&ccedil;&atilde;o e Auditor L&iacute;der 27001 pelo British Standards Institution. Com mais de 14 anos de experi&ecirc;ncia em consultoria e auditoria em Gest&atilde;o de Seguran&ccedil;a da Informa&ccedil;&atilde;o; Gest&atilde;o de Tecnologia da Informa&ccedil;&atilde;o e Gerenciamento de Projetos. Realizou mais de 150 projetos em empresas como SICOOB-SC/RS, CECRESP, UNIMED, FIESC, FECOAGRO, Senior Sistemas, Altenburg T&ecirc;xtil, Electro A&ccedil;o Altona, Grupo Lunelli, entre outras. Professor de P&oacute;s-Gradua&ccedil;&atilde;o h&aacute; mais de 14 anos, atuando em institui&ccedil;&otilde;es como FURB, UNIVALI, SENAC/SC, Est&aacute;cio, entre outras. Autor de v&aacute;rios artigos publicados em eventos e peri&oacute;dicos nacionais e internacionais, incluindo Estados Unidos, Canad&aacute;, Austr&aacute;lia, Fran&ccedil;a e Espanha.
            #saibaMais
              i.fas.fa-chevron-up
              a#p4fecha.p4fecha
                i &nbsp;Fechar
      #autor5Main.autor5-main
        h5
          | 5&ordf; PALESTRA: Para que serve uma blockchain e por que eu devo me preocupar com isto?
        .frontFoto5(title='Saiba mais')
          div(style='width:40%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Alexandre Melo Braga (UNICAMP)
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            #saibaMais
              i.fas.fa-chevron-down
              a#p5abre.p5abre
                i Saiba mais...
          .autor5-foto
            img(src='fotos/alexandre.png' height='auto' width='45%')
        br
        #p5.p5(style='display: none')
          .autor5(title='Fechar')
            .descAutor5.row
              .descIntro5.col
                br
                p
                  | Esta palestra conta como eu me envolvi com a tecnologia Blockchain e oferece uma vis&atilde;o pragm&aacute;tica da utilidade desta tecnologia, discutindo quais os casos de uso vi&aacute;veis, como ela pode ser usada com sucesso, e onde seu uso n&atilde;o faz sentido, fazendo rela&ccedil;&atilde;o com as quest&otilde;es de confian&ccedil;a, seguran&ccedil;a e privacidade envolvidas. O objetivo da palestra e alimentar o senso cr&iacute;tico da plateia em uma discuss&atilde;o sobre o potencial de uso da tecnologia blockchain ilustrada por erros, armadilhas, mitos e acertos, sem exageros e com os p&eacute;s no ch&atilde;o.
              .autor5-bio.col
                br
                h6
                  i Alexandre Melo Braga
                p
                  | Doutor em ci&ecirc;ncia da computa&ccedil;&atilde;o nas &aacute;reas de criptografia aplicada, seguran&ccedil;a de software e desenvolvimento de software seguro. Com 20 anos de experi&ecirc;ncia, j&aacute; atuou como pesquisador e consultor em projetos para telecomunica&ccedil;&otilde;es, bancos, operadoras de cart&atilde;o de cr&eacute;dito, operadoras de planos de sa&uacute;de, ag&ecirc;ncias governamentais, for&ccedil;as armadas e com&eacute;rcio de varejo, sempre voltado para a utiliza&ccedil;&atilde;o correta da criptografia e seguran&ccedil;a de software sobre tecnologias espec&iacute;ficas, tais como, software embarcado, meios de pagamento, smartTVs, aplica&ccedil;&otilde;es m&oacute;veis, IoT e Blockchain. Possui as certifica&ccedil;&otilde;es PMP, CISSP, CSSLP.
            br
            #saibaMais
              i.fas.fa-chevron-up
              a#p5fecha.p5fecha
                i &nbsp;Fechar
      #autor6Main.autor6-main
        h5
          | 6&ordf; PALESTRA: Papel da Intelig&ecirc;ncia Artificial e M&aacute;quinas de Aprendizado na CyberSeguran&ccedil;a na atualidade.
        .frontFoto6(title='Saiba mais')
          div(style='width:40%')
            br
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Rafael Righi (Suntech).
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            br
            #saibaMais
              i.fas.fa-chevron-down
              a#p6abre.p6abre
                i Saiba mais...
          .autor6-foto
            img(src='fotos/rafael.jpg' height='auto' width='45%')
        br
        #p6.p6(style='display: none')
          br
          .autor6(title='Fechar')
            .descAutor6.row
              .descIntro.col
                p
                  | Os desafios de seguran&ccedil;a na atualidade s&atilde;o imensos. Os vetores de ataque s&atilde;o em maior quantidade e complexidade (por onde vem o ataque). A complexidade dos ataques tamb&eacute;m tem aumentado e ataques direcionados e aqueles considerados APT s&atilde;o uma realidade. Tamb&eacute;m destacamos a avalanche de informa&ccedil;&otilde;es, alertas e logs gerados pelas ferramentas de seguran&ccedil;a e sensores. Nesse cen&aacute;rio fica praticamente invi&aacute;vel que solu&ccedil;&otilde;es de seguran&ccedil;a obtenham sucesso sem utilizar recursos de automa&ccedil;&atilde;o e intelig&ecirc;ncia para ganhar escala e assertividade nas suas miss&otilde;es. Essa palestra ir&aacute; falar sobre o cen&aacute;rio atual de seguran&ccedil;a e como a intelig&ecirc;ncia artificial (e seu ramo Machine Learning) tem ajudado na constru&ccedil;&atilde;o de solu&ccedil;&otilde;es de seguran&ccedil;a mais preparadas para os desafios de hoje!
              .autor6-bio.col
                h6
                  i Rafael Righi
                p
                  | Graduado em Ci&ecirc;ncia da Computa&ccedil;&atilde;o pela UFSM e Mestre em Ci&ecirc;ncia da Computa&ccedil;&atilde;o pela UFSC, com &ecirc;nfase em seguran&ccedil;a de sistemas computacionais, Rafael &eacute; Gerente de Solu&ccedil;&otilde;es na Verint com atua&ccedil;&atilde;o em solu&ccedil;&otilde;es de ciberseguran&ccedil;a para o governo e setor corporativo. Trabalhou para RNP, SENAI, Brasil Telecom e Oi com infra-estrutura de redes e seguran&ccedil;a da informa&ccedil;&atilde;o. Al&eacute;m disso, Rafael tamb&eacute;m atua como professor da Academia Cisco.
            #saibaMais
              i.fas.fa-chevron-up
              a#p6fecha.p6fecha
                i &nbsp;Fechar
    h3 Workshop
    #workShop.workshop
      .workshop-main
        h5 Threat Defense Workshops
        div(title='Detalhes')
          h6
            i.fas.fa-chalkboard-teacher
            | &nbsp;&nbsp;Ministrantes: Amanda Veras e Tatiana Borher.
          h6
            i.fas.fa-map-marker-alt
            | &nbsp;&nbsp;&nbsp;&nbsp;Local: Audit&oacute;rio
          h6
            i.far.fa-calendar-alt
            | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
          br
          p
            | O Threat Defense Workshop trata-se de uma simula&ccedil;&atilde;o de ciberataque, para &ldquo;pensar como hacker&rdquo; e aprender como proteger-se! &Eacute; extremamente dif&iacute;cil fazer uma simula&ccedil;&atilde;o de um ciberataque no dia a dia, por isso estamos convidando-o(a) para executar esse ciberataque em um ambiente controlado, com as mesmas ferramentas e t&eacute;cnicas usadas pelos hackers e, logo depois, planejar e implementar a seguran&ccedil;a necess&aacute;ria para bloquear esse tipo de ataque.
          br
          #saibaMais
            i.fas.fa-chevron-down
            a#wshopAbre.wshopabre
              i Detalhes...
          br
          a(href='https://siaiap37.univali.br/elis/staff/login/index/cdEvento/2836' target='_blank' style='text-decoration-line: none')
            i.fas.fa-upload
            | &nbsp;&nbsp;Inscri&ccedil;&atilde;o
        #wsDetalhes.wshop-detalhes(style='display: none' title='Fechar')
          .wshop-detalhes1
            .wconceito
              h6 Conceito
              p
                | O Threat Defense Workshop trata-se de uma simula&ccedil;&atilde;o de ciberataque, para &ldquo;pensar como hacker&rdquo; e aprender como proteger-se! &Eacute; extremamente dif&iacute;cil fazer uma simula&ccedil;&atilde;o de um ciberataque no dia a dia, por isso estamos convidando-o(a) para executar esse ciberataque em um ambiente controlado, com as mesmas ferramentas e t&eacute;cnicas usadas pelos hackers e, logo depois, planejar e implementar a seguran&ccedil;a necess&aacute;ria para bloquear esse tipo de ataque.
              br
              h6 Objetivo
              p
                | Este evento tempo objetivo estimular a comunidade da &aacute;rea de TI no que tange ao desenvolvimento de solu&ccedil;&otilde;es para seguran&ccedil;a cibern&eacute;tica. Atrav&eacute;s de um desafio busca-se preparar as pessoas para este cen&aacute;rio que tanto aflige a todos em um mundo conectado, fazendo com que as mesmas sejam replicadoras da seguran&ccedil;a cibern&eacute;tica e as possibilidades de solu&ccedil;&otilde;es para a seguran&ccedil;a cibern&eacute;tica da popula&ccedil;&atilde;o em geral.
              br
              h6 Sobre os Ministrantes
              p
                | Amanda Veras &eacute; coordenadora do setor de .......
                br
                |                                     Tatiana Bohrer &eacute; professor e especialista no campo de ....
            .wformato
              h6 Formato
              ul
                li Os participantes ser&atilde;o divididos em equipes de 4 ou 5 pessoas.
                li Cada equipe ter&aacute; a miss&atilde;o de atacar e se defender, como se fossem hackers.
                li
                  | Desta forma ter&atilde;o a oportunidade de compreenderem melhor as t&eacute;cnicas utilizadas pelos invasores virtuais.
                li
                  | Durante 5 horas as equipes multidisciplinares competir&atilde;o entre si para resolver a maior quantidade de desafios de ataque e defesa. Com o aux&iacute;lio de um especialista da &aacute;rea.
              br
              h6 Pre-requisitos
              p Desej&aacute;vel ter conhecimento t&eacute;cnico nos seguintes temas:
              ul
                li Comandos b&aacute;sicos de Windows e Linux;
                li Conhecimento de Redes;
                li Conhecimento b&aacute;sico sobre amea&ccedil;as.
              p Cada participante deve trazer seu notebook com a seguinte configura&ccedil;&atilde;o m&iacute;nima:
              ul
                li 4G de RAM; 1CPU, 50G de Disco R&iacute;gido;
                li Sistema Operativo Windows, Linux, MAC;
                li
                  | Navegador de Internet (Internet Explorer, Firefox, Chrome, Safari) sem restri&ccedil;&otilde;es de PROXY;
                li Rede sem fio.
          .inscricao
            h6 VALOR DA INSCRI&Ccedil;&Atilde;O
            ul
              li Pessoas j&aacute; inscritas no Computer on the Beach: Isento.
              li Pessoas n&atilde;o inscritas no Computer on the Beach: R$ 70,00.
          br
          #saibaMais
            i.fas.fa-chevron-up
            a#p6fecha.p6fecha
              i &nbsp;Fechar
    h3 Minicursos
    .minicursos
      #mc1Main.mc1-main
        h5 MC1: Detectando dados &uacute;teis na Web e trabalhando com eles.
        .frontFotoMc1(title='Detalhes')
          div(style='width: 50%')
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Carina F. Dorneles
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Sala 05
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            p
              | Neste minicurso, ser&atilde;o discutidas quest&otilde;es referentes &agrave; natureza, detec&ccedil;&atilde;o e ao uso do &ldquo;Big Data&rdquo;, mais especificamente, do Big Data presente na Web.
            #saibaMais
              i.fas.fa-chevron-down
              a#mini1Aabre.mini1abre
                i Detalhes...
            br
            a(href='https://docs.google.com/forms/d/e/1FAIpQLSd-Q9gkYwKKmmNZjxbievJRboaNJ4bz9-uzzIwwSWS8R09i5Q/closedform' target='_blank' style='text-decoration-line: none')
              i.fas.fa-upload
              | &nbsp;&nbsp;Pr&eacute;-inscri&ccedil;&atilde;o
          .autormc1-foto
            img(src='fotos/carinaDorneles.jpg' height='auto' width='45%')
        #idMc1.mc1(style='display: none' title='Fechar')
          .autormc1
            .descAutorMc1.row
              .descIntroMc1.col
                p
                  | Neste minicurso, ser&atilde;o discutidas quest&otilde;es referentes &agrave; natureza, detec&ccedil;&atilde;o e ao uso do &ldquo;Big Data&rdquo;, mais especificamente, do Big Data presente na Web. O objetivo geral &eacute; introduzir o p&uacute;blico na &aacute;rea de detec&ccedil;&atilde;o e extra&ccedil;&atilde;o de conte&uacute;do Web. Para isso, s&atilde;o mostrados: uma vis&atilde;o geral do conceito de Big Data sob o ponto de vista de sua natureza n&atilde;o estruturada, compreens&atilde;o dos formatos de dados dispon&iacute;veis, detec&ccedil;&atilde;o de conte&uacute;do &uacute;til e extra&ccedil;&atilde;o de dados, al&eacute;m de uma breve introdu&ccedil;&atilde;o de alguns aspectos de an&aacute;lise e identifica&ccedil;&atilde;o de conte&uacute;do &uacute;til, usando web crawling/scraping. Similaridade e deduplica&ccedil;&atilde;o de dados, resolu&ccedil;&atilde;o de entidade e reconhecimento de entidades nomeadas tamb&eacute;m ser&atilde;o discutidos.
              .autormc1-bio.col
                h6
                  i Carina F. Dorneles
                p
                  | Professora no Departamento de Inform&aacute;tica e Estat&iacute;stica (INE) da UFSC. Membro da Comiss&atilde;o Especial de Banco de Dados da SBC. Membro da Comiss&atilde;o de Avalia&ccedil;&atilde;o Quadrienal Capes &ndash; 2017. Atua em pesquisa, ensino e orienta&ccedil;&atilde;o nos n&iacute;veis de IC, gradua&ccedil;&atilde;o, mestrado e doutorado. Seus interesses de pesquisa incluem as &aacute;reas de Gerenciamento de Dados, Recupera&ccedil;&atilde;o de Informa&ccedil;&atilde;o, Minera&ccedil;&atilde;o de Dados com &ecirc;nfase na Web, Descoberta de Conhecimento e Extra&ccedil;&atilde;o e Matching de Informa&ccedil;&atilde;o.
            #saibaMais
              i.fas.fa-chevron-up
              a#mc1Fecha.mc1fechafecha
                i &nbsp;Fechar
      #mc2Main.mc2-main
        h5 MC2: Introdu&ccedil;&atilde;o &agrave;s tecnologias blockchain e suas aplica&ccedil;&otilde;es
        .frontFotoMc2(title='Detalhes')
          div(style='width: 50%')
            h6
              i.fas.fa-chalkboard-teacher
              | &nbsp;&nbsp;Palestrante: Alexandre Melo Braga (UNICAMP)
            h6
              i.fas.fa-map-marker-alt
              | &nbsp;&nbsp;&nbsp;&nbsp;Local: Sala 05
            h6
              i.far.fa-calendar-alt
              | &nbsp;&nbsp;&nbsp;Data / Hor&aacute;rio: 01/06/2020 &agrave;s 16:00 hrs.
            p
              | Este minicurso aborda as tecnologias componentes de uma blockchain de modo introdut&oacute;rio e amplo, indo al&eacute;m das criptomoedas como o Bitcoin, proporcionando ao participante uma vis&atilde;o geral sobre o assunto.
            #saibaMais
              i.fas.fa-chevron-down
              a#pmini2Abre.pmini2abre
                i Detalhes...
            br
            a(href='https://docs.google.com/forms/d/e/1FAIpQLSd-Q9gkYwKKmmNZjxbievJRboaNJ4bz9-uzzIwwSWS8R09i5Q/closedform' target='_blank' style='text-decoration-line: none')
              i.fas.fa-upload
              | &nbsp;&nbsp;Pr&eacute;-inscri&ccedil;&atilde;o
          .autormc2-foto
            img(src='fotos/alexandre.png' height='auto' width='45%')
        #idMc2.mc2(style='display: none' title='Fechar')
          .autormc2
            .descAutorMc2.row
              .descIntroMc2.col
                p
                  | Este minicurso aborda as tecnologias componentes de uma blockchain de modo introdut&oacute;rio e amplo, indo al&eacute;m das criptomoedas como o Bitcoin, proporcionando ao participante uma vis&atilde;o geral sobre o assunto. O minicurso tem o objetivo de introduzir os participantes aos aspectos pr&aacute;ticos do conjunto de tecnologias que formam uma blockchain e que s&atilde;o necess&aacute;rias ao desenvolvimento de aplica&ccedil;&otilde;es confi&aacute;veis, facilitando o aprofundamento em estudos futuros. Neste contexto, as criptomoedas s&atilde;o tratadas como exemplos espec&iacute;ficos das tecnologias blockchain. Al&eacute;m disso, o minicurso explica os conceitos fundamentais de blockchain, descreve as plataformas modernas, como Hyperledger e Ethereum, mostra programas de computador para smart contracts e aborda as arquiteturas de aplica&ccedil;&atilde;o para blockchain e seus protocolos de consenso. Finalmente, o minicurso tamb&eacute;m discute aspectos de seguran&ccedil;a inerentes &agrave; tecnologia..
              .autormc2-bio.col
                h6
                  i Alexandre Braga
                p
                  | Doutor em ci&ecirc;ncia da computa&ccedil;&atilde;o nas &aacute;reas de criptografia aplicada, seguran&ccedil;a de software e desenvolvimento de software seguro. Com 20 anos de experi&ecirc;ncia, j&aacute; atuou como pesquisador e consultor em projetos para telecomunica&ccedil;&otilde;es, bancos, operadoras de cart&atilde;o de cr&eacute;dito, operadoras de planos de sa&uacute;de, ag&ecirc;ncias governamentais, for&ccedil;as armadas e com&eacute;rcio de varejo, sempre voltado para a utiliza&ccedil;&atilde;o correta da criptografia e seguran&ccedil;a de software sobre tecnologias espec&iacute;ficas, tais como, software embarcado, meios de pagamento, smartTVs, aplica&ccedil;&otilde;es m&oacute;veis, IoT e Blockchain. Possui as certifica&ccedil;&otilde;es PMP, CISSP, CSSLP.
            #saibaMais
              i.fas.fa-chevron-up
              a#mc2Fecha.mc2fecha
                i &nbsp;Fechar
    h3 Demais Atividades
    .demais-atividades
      .demais-atividades-main
        h5 Programa&ccedil;&atilde;o Detalhada
        p Painel, Sess&otilde;es T&eacute;cnicas, Concurso de Trabalhos T&eacute;cnicos.
        br
        a(href='gradeDeProgramacao.html' target='_blank' style='text-decoration-line: none')
          i Acesse aqui...
br
footer
  hr
  #realizacoes
    h1 Realiza&ccedil;&atilde;o
    br
    img(src='fotos/univali.png')
  #patrocinio
    h1 Patroc&iacute;nio
    img(src='fotos/sicoob.png')
    img(src='fotos/exact.png')
    img(src='fotos/segware.png')
    img(src='fotos/suntech.png')
    img(src='fotos/trendmicro.png')
  #apoio
    h1 Apoio
    img(src='fotos/sicoob.png')
    img(src='fotos/exact.png')
    img(src='fotos/segware.png')
  #apoioInstitucional
    h1 Apoio Institucional
    img(src='fotos/sicoob.png')
    img(src='fotos/exact.png')
    img(src='fotos/segware.png')
  #logoFim
    a(href='index.html')
      img.logo(src='fotos/logo.png')
