@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #0a1128;
  font-family: 'Nunito', sans-serif;
}

.hero {
  background-image: url("img/bg3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.hero .content {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(250, 114, 104, 0.3)), to(rgba(143, 214, 189, 0.3)));
  background-image: linear-gradient(to bottom right, rgba(250, 114, 104, 0.3), rgba(143, 214, 189, 0.3));
  padding: 75px 10% 100px 10%;
  text-align: center;
  color: white;
}

.hero .content h2 {
  color: #fa7268;
}

.hero .data-hora {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 178, 169, 0.7)), to(rgba(143, 214, 189, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(0, 178, 169, 0.7), rgba(143, 214, 189, 0.7));
  padding: 15px 50px;
  margin: 0 200px;
  margin-top: 30px;
}

.hero .data-hora h2 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.hero .data-hora h2 span {
  font-style: italic;
}

nav {
  background: #f0f6f7;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

nav img {
  margin: 15px 15px;
  margin-left: 30px;
  display: inline-block;
  height: 42px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

nav.fixed {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  border-bottom: 3px solid #8fd6bd;
}

nav.fixed img {
  -webkit-transform: translate(20px, 2px) scale(1.5);
          transform: translate(20px, 2px) scale(1.5);
}

nav ul {
  text-align: right;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

nav ul li:hover {
  background-color: rgba(143, 214, 189, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

nav ul li:hover a {
  color: #0a1128;
}

nav ul li a {
  -webkit-transition: .8s ease;
  transition: .8s ease;
  font-size: 1.3rem;
  text-decoration: none;
  color: #00b2a9;
}

section {
  padding: 20px 10px;
}

@media screen and (min-width: 1200px) {
  section {
    padding: 75px 15%;
  }
}

section h2 {
  color: #00b2a9;
  display: inline;
  font-size: 2rem;
}

section h2 span {
  display: block;
  font-size: 1.2rem;
  color: #8fd6bd;
}

section p {
  text-align: justify;
}

section p.lead {
  font-style: italic;
  color: #00b2a9;
  font-size: 1.3rem;
}

section#evento .galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  section#evento .galeria {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

section#evento .galeria img {
  opacity: .7;
  max-width: 100%;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  z-index: 1;
}

section#evento .galeria img:hover {
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#balneario {
  background-color: #f0f6f7;
}

section#balneario .grid {
  display: -ms-grid;
  display: grid;
  grid-template: 'titulo titulo'    'texto  imagem';
  gap: 10px 100px;
}

section#balneario .grid h2 {
  grid-area: titulo;
}

section#balneario .grid .texto {
  grid-area: texto;
}

section#balneario .grid .image {
  grid-area: imagem;
}

section#balneario .grid .image img {
  max-width: 100%;
}

footer {
  padding: 20px 10px;
  text-align: center;
  background-color: #0a1128;
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 75px 15%;
  }
}

footer h2 {
  color: #00b2a9;
  display: inline;
  font-size: 2rem;
  text-align: center;
}

footer h2 span {
  display: block;
  font-size: 1.2rem;
  color: #8fd6bd;
}

footer .marcas {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

footer .marcas img {
  max-width: 100%;
  opacity: .7;
}

footer .marcas img:hover {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */