$coral: rgba(250, 114, 104, 1);
$preto: rgba(10, 17, 40, 1);
$menta: rgba(143, 214, 189, 1);
$hortela: rgb(0, 168, 151);
$branco: rgb(255, 255, 255);
$branco-smoke:rgba(240, 246, 247, 1);

$hero-gradient-opacity: .5;
$hero-local-gradient-opacity: .7;

$break-large: 800px;
$logo-border-weight: 1px;
$date-text-stroke: 3px;
$date-text-color: $branco;

nav{
    transition: .3s ease;
    &.navbar{
        background-color: $branco-smoke;
    }
    
    &.is-fixed-top{
        border-radius: 0;
        margin: 0;
        border-bottom: 3px solid $menta;
    }
    .navbar-brand{
        padding-left: 20px;
        padding-top: 5px;
        
    }
    .menu-real .navbar-item{
        color: $hortela;
        transition: .9s ease;
        &:hover{
            background-color: $menta;
            color: $preto;
            transform: scale(1.05);
        }
        img{
            max-height: 3rem;
            height: 48px;
        }
    }
    .navbar-item, .button.is-primary{
        font-size: 1.05rem;
        padding-left: 1rem;
        padding-right: 1rem;
        //font-weight: 700;
    }
    .button.is-primary{
        border: 0;
        background-image: linear-gradient(to bottom right,$menta, $hortela);
        transition: 0.5s ease;
        &:hover{
            background: $hortela;
            animation: btnanimation .4s;
        }
        @keyframes btnanimation {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
    }
   
    #nav-logo-name{
        height: 0;
        transition: .6s ease;

    }
    #nav-logo-icon{
        transform: scale(1.7);
    }
    &.is-fixed-top{
        #nav-logo-name, #nav-logo-icon{
            height: 32px;
            transform: scale(2) translateX(.5rem);
        }
        #nav-logo-icon{
            transform: scale(1.7) translateX(2rem);
        }
    }
}
.floating-date{
    margin-top: -50px;
    text-align: right;
    color: $branco;
    background-color: $hortela;
}
section{
    &.section{
        .container{
            @media screen and (min-width: $break-large) {
                padding: 50px 15%;
            }
        }
    }
    
    .title{
        color: $hortela;
        font-size: 2.4rem;
    }
    .subtitle{
        font-size: 1.3rem;
        color: $menta;
    }
    p, li{ // REVER EFEITO
        font-size: 1.1rem;
        text-align: justify;
        strong {
            font-weight: 500;
            color: $hortela;
        }
        &.lead{
            font-style: italic;
            color: $hortela;
            font-size: 1.3rem;
        }
    }
    &.hero{
        overflow: hidden;
        &.is-primary{
            &.is-bold{
                background-image: url('img/bg.jpg');
                background-size: cover;
                background-attachment: fixed;
                background-position-y:100%;
            }
        }
        .hero-body{
            //background-image: linear-gradient(to bottom right,rgba($coral,$hero-gradient-opacity), rgba($menta,$hero-gradient-opacity));
            .container{
                text-align: center;
                
            }
           
        }
        img{
            max-width: 100%;
            width: 500px;
            filter: drop-shadow($logo-border-weight 0 0 white) drop-shadow(-$logo-border-weight 0 0 white) drop-shadow(0 $logo-border-weight 0 white) drop-shadow(0 -$logo-border-weight 0 white) 
            drop-shadow($logo-border-weight $logo-border-weight 0 white) drop-shadow(-$logo-border-weight -$logo-border-weight 0 white) drop-shadow($logo-border-weight -$logo-border-weight 0 white) drop-shadow(-$logo-border-weight $logo-border-weight 0 white);
        }
    }
    #logobc{
        transform: scale(.8);
    }
    .galeria{
        margin-top: 20px;
        .column{
            text-align: center;
        }
        img{
            opacity: .7;
            max-width: 100%;
            transition: .3s ease-in-out;
            z-index: 1;
            border-radius: 10px;
            &:hover{
                z-index: 7;
                opacity: 1;
                transform: scale(1.1);
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
            }
        }
    }    
    &#balneario, &#anais{
        background-color: $branco-smoke;
    }
    &#chamadas{
        p{
            &.title{
                font-size: 1.9rem;
                text-align: center;
                font-weight: 600;
                color: $hortela;
            }   
        }
        ul{
            li{
                font-weight: 500;
                strong{
                    font-weight: 700;
                }
            }
        }
        .tile{
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            &#datas-importantes{
                background-image: linear-gradient(to top right,$menta, $hortela);
                .title{
                    color: $branco;
                }
                li{
                    background-color: $branco;
                    color: $preto;
                    margin-top: 1rem;
                    padding: .5rem 1rem;
                    text-align: center;
                    border-radius: 1rem;
                    font-size: 1rem;
                    strong{
                        display: block;
                        color: $hortela;
                        font-size: 1.2rem;
                    }
                    transition: .3s ease;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            &#autores{
                background: $preto;
                .title{
                    color: $branco;
                }
                color: $branco;
                a{
                    margin-top: 1rem;
                }
            }
            
        }
    }
    &#anais{
        background-color: $branco-smoke;
        .column{
            article{
                background-color: $hortela;
                padding: 2rem 1rem;
                border-radius: 20px;
                height: 100%;
                .title{
                    text-align: center;
                    font-size: 1.7rem;
                    color: $branco;
                }
                transition: .3s ease;
                &:hover{
                    transform: scale(1.05);
                    background-color: $menta;
                    .title{
                        color: $branco;
                    }
                }
            }
            
        }
    }
    &#realizacao{
        text-align: center;
        background-color: $preto;        
        .marcas{            
            margin-top: 30px;            
            display: grid;
            &.linha1{
                grid-template-columns: auto auto auto; 
            }
            &.linha2{
                grid-template-columns: auto auto auto auto; 
            }
            .logo-span{
                grid-column-start: 2;
            }                      
            grid-gap: 10px;                     
            
            img{
                max-height: 25px;
                &#univali-logo{
                    max-height: 32px;   
                }
                @media screen and (min-width: $break-large) {
                    max-height: 32px;
                    &#univali-logo{
                        max-height: 45px;   
                    }
                }
                
                filter: grayscale(100%) brightness(10000000%);
                opacity: 1;
                transition: .2s ease;
                &:hover{
                    filter: none;
                    transform: scale(1.01);
                    opacity: 1;
                }
            }
        }
    }    
}
#topicos, #comitePrograma{
    ul{
        padding-top: 1rem;
        padding-left: 2rem;
        list-style-type: none;
        li{
            &:before{
                color: $menta;
                font-size: 1rem;
                content: "\26ac";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
            font-size: .9rem;
        }
    }
}
footer{
    img{
        max-width: 100%;
        height: 1rem;
        
    }
}
div{
    &#modal-principal, &#modal-trabalhos{
        .modal-card-foot, .modal-card-head {            
            background-color: $menta;
            p{
                color: $hortela;
                font-size: 2rem;
                font-weight: 900;
            }
        }
        h2{
            color: $hortela;
            font-size: 1.4rem;
            font-weight: 700;            
        }
        h3{
            color: $hortela;
            font-size: 1.2rem;
            font-weight: 600;            
        }
        h5{
            color: $hortela;
            font-size: 1rem;
            font-weight: 500;            
        }
        a{
            color: $hortela;
        }
    }

}


