nav {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

nav.navbar {
  background-color: #E6E6E6;
}

nav .navbar-burger.burger span {
  background-color: #fff;
}

nav .navbar-brand {
  padding-left: 20px;
  padding-top: 5px;
}

nav .navbar-menu.is-active {
  background-color: #fff;
}

nav .menu-real .navbar-item {
  color: #1D1D1D;
  background-color: #E6E6E6;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

nav .menu-real .navbar-item:hover {
  background-color: #f5df4d;
}

nav .menu-real .navbar-item img {
  max-height: 3rem;
  height: 48px;
}

nav.is-fixed-top {
  border-radius: 0;
  margin: 0;
  border-bottom: 3px solid #939597;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #fff;
}

nav.is-fixed-top .menu-real .navbar-item {
  background-color: #fff;
}

nav .navbar-item, nav .button.is-primary {
  font-size: 1.05rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav .button.is-primary {
  border: 0;
  background-color: #f5df4d;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5df4d), to(#d0b70c));
  background-image: linear-gradient(to bottom right, #f5df4d, #d0b70c);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .button.is-primary:hover {
  background: #939597;
  -webkit-animation: btnanimation .4s;
          animation: btnanimation .4s;
}

@-webkit-keyframes btnanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btnanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav #nav-logo-name {
  height: 0;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

nav #nav-logo-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

nav.is-fixed-top #nav-logo-name, nav.is-fixed-top #nav-logo-icon {
  height: 32px;
  -webkit-transform: scale(2) translateX(0.5rem);
          transform: scale(2) translateX(0.5rem);
}

nav.is-fixed-top #nav-logo-icon {
  -webkit-transform: scale(1.7) translateX(1.5rem) translateY(-0.08rem);
          transform: scale(1.7) translateX(1.5rem) translateY(-0.08rem);
}

.floating-date {
  margin-top: -50px;
  text-align: right;
  color: #fff;
  background-color: #f5df4d;
}

.link-marambaia {
  color: #744df5;
  font-weight: 600;
  text-decoration: underline;
}

.button.is-primary {
  border: none;
  background: #f5df4d;
  color: #fff !important;
  font-weight: 700;
}

.button.is-primary:hover {
  background: #939597;
}

.button.is-primary.is-inverted {
  background: #fff;
  color: #f5df4d !important;
}

@media screen and (min-width: 800px) {
  section.section .container {
    padding: 50px 10%;
  }
}

section .title {
  color: #f5df4d;
  font-size: 2.4rem;
}

section .subtitle {
  font-size: 1.3rem;
  color: #939597;
}

section p, section li {
  font-size: 1.1rem;
  text-align: justify;
}

section p strong, section li strong {
  font-weight: 900;
  color: #f5df4d;
}

section p.lead, section li.lead {
  font-style: italic;
  font-weight: 600;
  color: #939597;
  font-size: 1.3rem;
}

section.hero {
  overflow: hidden;
}

section.hero.is-primary.is-bold {
  background: #f5df4d;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

section.hero .hero-body .container {
  text-align: center;
  margin-bottom: -5%;
}

section.hero .hero-body .container h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic;
  position: relative;
}

section.hero .hero-body .container h4 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 300;
  font-style: italic;
  position: relative;
}

section.hero img {
  max-width: 100%;
  width: 500px;
}

section #logobc {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section .galeria {
  margin-top: 20px;
}

section .galeria .column {
  text-align: center;
}

section .galeria img {
  opacity: .9;
  max-width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 1;
  border-radius: 10px;
}

section .galeria img:hover {
  z-index: 7;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
}

section#balneario, section#anais {
  background-color: #E6E6E6;
}

section#balneario .title, section#anais .title {
  color: #939597;
}

section#chamadas del {
  color: #744df5;
}

section#chamadas p.title {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 600;
  color: #f5df4d;
}

section#chamadas ul li {
  font-weight: 500;
  text-align: left;
}

section#chamadas ul li strong {
  font-weight: 700;
}

section#chamadas .tile {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

section#chamadas .tile#datas-importantes {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(147, 149, 151, 0.9)), to(rgba(245, 223, 77, 0.9)));
  background-image: linear-gradient(to top right, rgba(147, 149, 151, 0.9), rgba(245, 223, 77, 0.9));
}

section#chamadas .tile#datas-importantes .title {
  color: #fff;
}

section#chamadas .tile#datas-importantes li {
  background-color: #fff;
  color: #1D1D1D;
  margin-top: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

section#chamadas .tile#datas-importantes li strong {
  display: block;
  color: #f5df4d;
  font-size: 1.2rem;
}

section#chamadas .tile#datas-importantes li h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

section#chamadas .tile#datas-importantes li .columns {
  padding: .5rem;
}

section#chamadas .tile#datas-importantes li .columns .column {
  padding: .5rem .5rem;
}

section#chamadas .tile#datas-importantes li .columns .column .data {
  border: 2px solid #f5df4d;
  border-radius: 10px;
  padding: .5rem .5rem;
  padding-top: .2rem;
}

section#chamadas .tile#datas-importantes li .columns .column .data legend {
  padding: .2rem .7rem;
  padding-bottom: 0;
  font-size: 1rem;
  color: #939597;
}

@media screen and (min-width: 800px) {
  section#chamadas .tile#datas-importantes li .columns .column .data legend {
    font-size: .6rem;
  }
}

@media screen and (min-width: 1200px) {
  section#chamadas .tile#datas-importantes li .columns .column .data legend {
    font-size: .9rem;
  }
}

section#chamadas .tile#datas-importantes li .columns .column .data.data-trabalhos {
  border-color: #f5df4d;
}

section#chamadas .tile#autores {
  background: #1D1D1D;
  color: #fff;
}

section#chamadas .tile#autores .open-modal {
  color: #1D1D1D;
}

section#chamadas .tile#autores .title {
  color: #fff;
}

section#chamadas .tile#autores a {
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  section#chamadas #main-tile {
    padding: 0;
    margin-left: -7%;
    width: 114%;
  }
}

section#programacao {
  background-color: #E6E6E6;
}

section#programacao .title small {
  font-size: 1.2rem;
  color: #444;
}

section#programacao p.is-danger {
  color: #ff3860;
}

section#programacao h3.title {
  margin-top: 3rem;
  font-size: 2rem;
}

section#programacao .card {
  margin: 2rem 0;
  border-radius: 15px;
}

section#programacao .card .resumo {
  margin: 30px 10px;
}

section#programacao .card .card-header {
  background-color: #f5df4d;
  border-radius: 15px 15px 0 0;
}

section#programacao .card .card-header .card-header-title {
  color: #fff;
}

section#programacao .card .card-header .card-header-title small {
  margin-left: 10px;
  color: #E6E6E6;
}

section#programacao .card .tab {
  overflow: visible;
}

section#programacao .card .tab span {
  color: #aaa;
}

section#programacao .card .tab .tag {
  text-align: center;
  margin-bottom: -25px;
  color: #f5df4d;
  z-index: 10;
}

section#programacao .card .tab .icon img {
  width: 32px !important;
  height: 32px !important;
  max-width: 32px;
  border-radius: 50%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

section#programacao .card .tab.is-active span {
  color: #f5df4d;
}

section#programacao .card .tab.is-active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#programacao .card .content-tab .name {
  color: #939597;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

section#programacao .card .content-tab .is-primary {
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, right bottom, left top, from(#f5df4d), to(#f7e778));
  background: linear-gradient(to left top, #f5df4d, #f7e778);
}

section#programacao .card .content-tab img {
  border-radius: 50%;
}

section#programacao .card .content-tab p {
  font-size: .9rem;
}

section#programacao .card.palestra .card-header, section#programacao .card.painel .card-header {
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 15px;
}

section#programacao .card.palestra .card-header:hover, section#programacao .card.painel .card-header:hover {
  background-color: #f5f5f5;
}

section#programacao .card.palestra .card-header .card-header-icon, section#programacao .card.painel .card-header .card-header-icon {
  color: #f5df4d;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

section#programacao .card.palestra .card-header .card-header-icon:hover, section#programacao .card.painel .card-header .card-header-icon:hover {
  color: #1D1D1D;
}

section#programacao .card.palestra .card-header .card-header-title, section#programacao .card.painel .card-header .card-header-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  color: #f5df4d;
  padding: 1rem;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-calendar, section#programacao .card.painel .card-header .card-header-title .card-header-calendar {
  color: #939597;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .5rem 1.5rem;
  border-radius: 15px;
  margin: .5rem;
  text-align: center;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  place-items: center;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-calendar p, section#programacao .card.painel .card-header .card-header-title .card-header-calendar p {
  margin: 0;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-calendar .dia-mes, section#programacao .card.painel .card-header .card-header-title .card-header-calendar .dia-mes {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-calendar .mes, section#programacao .card.painel .card-header .card-header-title .card-header-calendar .mes {
  font-size: 1rem;
  line-height: .8rem;
  text-align: center;
  font-weight: 400;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-calendar .hora, section#programacao .card.painel .card-header .card-header-title .card-header-calendar .hora {
  font-size: .8rem;
  text-align: center;
  font-weight: 400;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-text strong, section#programacao .card.painel .card-header .card-header-title .card-header-text strong {
  color: #1D1D1D;
  font-weight: 700;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-text a strong, section#programacao .card.painel .card-header .card-header-title .card-header-text a strong {
  color: #fff;
}

section#programacao .card.palestra .card-header .card-header-title .card-header-text span, section#programacao .card.painel .card-header .card-header-title .card-header-text span {
  color: #939597;
  display: block;
  font-size: .8rem;
}

section#programacao .card.palestra .card-content, section#programacao .card.painel .card-content {
  max-height: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  overflow: hidden;
  padding: 0;
}

section#programacao .card.palestra.is-active .card-header, section#programacao .card.painel.is-active .card-header {
  border-radius: 15px 15px 0 0;
  background-color: #1D1D1D;
}

section#programacao .card.palestra.is-active .card-header .card-header-title, section#programacao .card.painel.is-active .card-header .card-header-title {
  color: #fff;
}

section#programacao .card.palestra.is-active .card-header .card-header-title strong, section#programacao .card.painel.is-active .card-header .card-header-title strong {
  color: #f5df4d;
}

section#programacao .card.palestra.is-active .card-header .card-header-title span, section#programacao .card.painel.is-active .card-header .card-header-title span {
  color: #E6E6E6;
}

section#programacao .card.palestra.is-active .card-header .card-header-icon, section#programacao .card.painel.is-active .card-header .card-header-icon {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section#programacao .card.palestra.is-active .card-content, section#programacao .card.painel.is-active .card-content {
  max-height: none;
  padding: 2rem;
}

section#programacao .card.palestra.mc .card-header .card-header-calendar, section#programacao .card.painel.mc .card-header .card-header-calendar {
  color: #18a549;
}

section#programacao .card.palestra.pl .card-header .card-header-calendar, section#programacao .card.painel.pl .card-header .card-header-calendar {
  color: #4e1df2;
}

section#programacao .card.palestra.pn .card-header .card-header-calendar, section#programacao .card.painel.pn .card-header .card-header-calendar {
  color: #1D1D1D;
}

section#programacao .card.palestra.sem .card-header .card-header-calendar, section#programacao .card.painel.sem .card-header .card-header-calendar {
  color: #e7c436;
}

section#programacao .card.palestra .subtitle, section#programacao .card.painel .subtitle {
  margin-bottom: 0;
}

section#programacao .card.palestra .columns, section#programacao .card.painel .columns {
  margin-top: 1rem;
}

section#programacao .card.palestra .palestrante {
  border-radius: 15px;
  background-color: #E6E6E6;
  padding: 1.5rem;
}

section#programacao .card.palestra .palestrante .is-one-quarter {
  text-align: center;
}

section#programacao .card.palestra .palestrante p {
  font-size: .9rem;
}

section#programacao .card.palestra img {
  border-radius: 50%;
  width: 120px;
  height: auto;
}

section#programacao .subtitle {
  color: #1D1D1D;
}

section#programacao .grid {
  margin: 1rem 0;
  border: 2px #939597 solid;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 800px) {
  section#programacao .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

section#programacao .grid .dia {
  display: -ms-grid;
  display: grid;
  grid-gap: .3rem;
}

section#programacao .grid .dia .encerramento {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

section#programacao .grid .dia .encerramento:first-child {
  margin-left: 15px;
}

section#programacao .grid .dia .duo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
}

section#programacao .grid .dia .duo .ev {
  display: -ms-grid;
  display: grid;
  grid-gap: .3rem;
}

section#programacao .grid.sem {
  border: none;
}

@media screen and (min-width: 800px) {
  section#programacao .grid.sem {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section#programacao .grid.sem .dia {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section#programacao .grid.sem .dia .card {
  margin: 0;
  display: -ms-grid;
  display: grid;
}

section#programacao .grid.sem .dia .card, section#programacao .grid.sem .dia .card-header {
  border-radius: 20px;
}

section#programacao .grid.sem .dia .card-header {
  background-color: #fff;
}

section#programacao .grid.sem .dia .card-header .card-header-title {
  color: #1D1D1D;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  section#programacao .grid.sem .dia .card-header .card-header-title {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

section#programacao .grid.sem .dia .card-header .card-header-title span {
  color: #939597;
}

section#programacao .grid.sem .dia .card-header .card-header-title .dia-mes {
  font-size: 1.2rem;
}

section#programacao .grid h2 {
  font-weight: 500;
  text-align: center;
}

section#programacao .grid .track {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px;
      grid-template-columns: 1fr 55px;
  background-color: #f5df4d;
  color: #fff;
  position: relative;
  border-radius: 5px;
  border: 1px solid #f5df4d;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section#programacao .grid .track p {
  font-size: 1rem;
}

section#programacao .grid .track p, section#programacao .grid .track span {
  padding: 6px;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section#programacao .grid .track span {
  text-align: center;
  background-color: #fff;
  color: #939597;
  border-radius: 0 5px 5px 0;
}

section#programacao .grid .track:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  opacity: .8;
}

section#programacao .grid .track.int {
  cursor: default;
}

section#programacao .grid .track.int:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

section#programacao .grid .track.premio {
  background-color: #101010;
}

section#programacao .grid .track.course {
  background-color: #f6e157;
}

section#programacao .grid .track.pl {
  background-color: #4e1df2;
}

section#programacao .grid .track.sp {
  background-color: #b8a10a;
}

section#programacao .grid .track.mc {
  background-color: #18a549;
}

section#programacao .grid .track.sem {
  background-color: #e7c436;
  color: #1D1D1D;
}

section#programacao .grid .track.ctt {
  background-color: #606264;
}

section#programacao .grid .track.pn {
  background-color: #1D1D1D;
}

section#programacao .grid .track.bt {
  background-color: #2f2f2f;
}

section#programacao .grid .track.painel {
  background-color: #2f2f2f;
}

section#programacao .grid .track.int {
  background-color: #fff;
  color: #1D1D1D;
}

section#anais {
  background-color: #E6E6E6;
}

section#anais .title {
  color: #1D1D1D;
}

section#anais .column article {
  background-color: #f5df4d;
  padding: 2rem 1rem;
  border-radius: 20px;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

section#anais .column article.anal-new {
  background-color: #744df5;
}

section#anais .column article.anal-new:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #4e1df2;
}

section#anais .column article .title {
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
}

section#anais .column article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f2d61d;
}

section#anais .column article:hover .title {
  color: #fff;
}

section#realizacao {
  text-align: center;
  background-color: #eee;
}

section#realizacao .title {
  color: #1D1D1D;
}

section#realizacao img {
  max-height: 90px;
  max-width: 160px;
}

section#realizacao img.logo-fapesc {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-top: -10px;
}

section#realizacao img.logo-lia {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-emct {
  -webkit-transform: scale(2);
          transform: scale(2);
}

section#realizacao img.logo-univali {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-rnp {
  margin-top: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#realizacao img.logo-polo {
  margin-top: 20px;
}

section#realizacao img.logo-asse {
  margin-top: 32px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-pulses {
  margin-top: 2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-sist {
  margin-top: 35px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

section#realizacao img.logo-ali {
  margin-top: 20px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-seg {
  margin-top: 25px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-sunt {
  margin-top: 25px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-sico {
  margin-top: 15px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-out {
  margin-top: -5px;
}

section#realizacao img.logo-qualy {
  margin-top: 30px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao .marcas {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

section#realizacao .marcas.linha1 {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

section#realizacao .marcas.linha2 {
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

section#realizacao .marcas .logo-span {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

section#realizacao .marcas img {
  max-height: 25px;
  -webkit-filter: grayscale(100%) brightness(10000000%);
          filter: grayscale(100%) brightness(10000000%);
  opacity: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section#realizacao .marcas img#univali-logo {
  max-height: 32px;
}

@media screen and (min-width: 800px) {
  section#realizacao .marcas img {
    max-height: 32px;
  }
  section#realizacao .marcas img#univali-logo {
    max-height: 45px;
  }
}

section#realizacao .marcas img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1;
}

section#comitePrograma {
  background-color: #E6E6E6;
}

section#comitePrograma ul {
  padding-left: 2rem;
  padding-bottom: 2rem;
  list-style-type: none;
}

section#comitePrograma ul.ul-two {
  -webkit-columns: 2;
          columns: 2;
}

section#comitePrograma ul li {
  font-size: .8rem;
  color: #939597;
  text-align: left;
}

section#comitePrograma ul li:before {
  color: #939597;
  font-size: 1rem;
  content: "\26ac";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

section#comitePrograma ul li strong {
  color: #939597;
  font-weight: 700;
  font-size: 1rem;
}

section#comitePrograma .tile#membros p {
  margin-bottom: .2rem;
}

#topicos ul, .styled-ul ul {
  padding-top: 1rem;
  padding-left: 2rem;
  list-style-type: none;
}

#topicos ul li, .styled-ul ul li {
  font-size: .9rem;
}

#topicos ul li:before, .styled-ul ul li:before {
  color: #939597;
  font-size: 1rem;
  content: "\26ac";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

footer.footer {
  background-color: #1D1D1D;
  color: #fff;
}

footer.footer a {
  color: #f5df4d;
}

footer.footer .fa-code {
  color: #939597;
}

footer.footer .fa-heart {
  color: #744df5;
}

footer img {
  max-width: 100%;
  height: 1rem;
}

.big-link {
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.big-link a {
  color: #f5df4d;
}

.big-link a:hover {
  color: #f2d61d;
}

.big-link .this-icon {
  font-size: 3rem;
  display: block;
}

.big-link .text {
  display: block;
}

.big-link.extreme {
  margin-top: 2rem;
}

.big-link.extreme .this-icon {
  font-size: 5rem;
}

.big-link.extreme .text {
  font-size: 2rem;
}

.modal .dados-hotel {
  padding: 2rem;
}

.modal .dados-hotel p {
  margin: 0.5rem;
}

.modal .dados-hotel img {
  border-radius: 20px;
}

.modal .mapa {
  margin: -1rem;
  margin-bottom: 3rem;
}

.modal#modal-aviso .modal-card-head {
  background-color: #f5df4d;
}

.modal#modal-aviso .modal-card-head p {
  color: #fff;
}

.modal#modal-aviso .small {
  font-size: .8rem;
}

.modal#modal-aviso h1 {
  color: #f5df4d !important;
}

.modal#modal-aviso strong {
  color: #f00 !important;
}

.modal#modal-aviso .modal-card-body p {
  margin: 1rem 0;
}

.modal#modal-aviso .btns {
  padding: 1rem;
  text-align: right;
}

.modal#modal-aviso .btns .is-danger {
  background-color: #f5df4d;
}

.modal#modal-aviso .btns .is-danger:hover {
  background-color: #939597;
}

.modal#modal-aviso a {
  color: #f00 !important;
}

.modal#modal-inscricoes .table {
  width: 100%;
  vertical-align: middle;
}

.modal#modal-inscricoes .table th {
  color: #f5df4d;
}

.modal#modal-inscricoes .table strong {
  color: #df3939;
  font-size: .9rem;
}

.modal#modal-inscricoes .table .nahora {
  background-color: #d4d5d6;
}

.modal ul {
  list-style: disc;
  padding-left: 2rem;
}

.modal .modal-card {
  border-radius: 1rem;
}

@media screen and (min-width: 800px) {
  .modal .modal-card {
    width: 75%;
  }
}

.modal .modal-card-foot, .modal .modal-card-head {
  background-color: #1D1D1D;
}

.modal .modal-card-foot p, .modal .modal-card-head p {
  color: #f5df4d;
  font-size: 2rem;
  font-weight: 900;
}

.modal .card-host {
  margin: 2rem;
  background-color: #744df5;
  border-radius: 20px;
}

.modal .card-host .subtitle {
  color: #fff;
}

.modal .diarias {
  margin-top: 1rem;
}

.modal .big-link {
  text-align: center;
}

.modal .big-link .this-icon {
  font-size: 3rem;
  display: block;
}

.modal .big-link .text {
  display: block;
}

.modal .big-link.extreme {
  margin-top: 2rem;
}

.modal .big-link.extreme .this-icon {
  font-size: 5rem;
}

.modal .big-link.extreme .text {
  font-size: 2rem;
}

.modal .big-link.button a {
  color: #fff !important;
}

.modal h2 {
  color: #f5df4d;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal h3 {
  color: #f5df4d;
  font-size: 1.2rem;
  font-weight: 600;
}

.modal h5 {
  color: #f5df4d;
  font-size: 1rem;
  font-weight: 500;
}

.modal a {
  color: #f5df4d;
}

.is-danger {
  color: #ff3860;
}

#programacaosessoes .tag.is-info, #programacaoctt .tag.is-info {
  margin-left: .5rem;
  font-size: .8rem;
}

#programacaosessoes .tecsection, #programacaoctt .tecsection {
  padding: 1rem;
  margin: 15px 0;
  background-color: #fff;
  border: 3px solid #E6E6E6;
  border-radius: 10px;
}

#programacaosessoes .tecsection.st .section-time, #programacaoctt .tecsection.st .section-time {
  background-color: #f5df4d;
  color: #fff;
  border: 1px solid #f5df4d;
}

#programacaosessoes .tecsection.st .section-day, #programacaoctt .tecsection.st .section-day {
  background-color: #E6E6E6;
  color: #1D1D1D;
  border: 1px solid #f5df4d;
}

#programacaosessoes .tecsection.st .section-title, #programacaoctt .tecsection.st .section-title {
  color: #f5df4d;
}

#programacaosessoes .tecsection.st .section-chair, #programacaoctt .tecsection.st .section-chair {
  color: #1D1D1D;
}

#programacaosessoes .tecsection.sp .section-time, #programacaoctt .tecsection.sp .section-time {
  background-color: #1D1D1D;
  color: #fff;
  border: 1px solid #1D1D1D;
}

#programacaosessoes .tecsection.sp .section-day, #programacaoctt .tecsection.sp .section-day {
  background-color: #E6E6E6;
  color: #1D1D1D;
  border: 1px solid #1D1D1D;
}

#programacaosessoes .tecsection.sp .group-title, #programacaoctt .tecsection.sp .group-title {
  font-size: 1.1rem;
  margin-top: 1rem;
}

#programacaosessoes .tecsection.sp .group-chair, #programacaoctt .tecsection.sp .group-chair {
  color: #1D1D1D;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#programacaosessoes .tecsection.sp .section-title, #programacaoctt .tecsection.sp .section-title {
  color: #f5df4d;
}

#programacaosessoes .tecsection.sp .section-chair, #programacaoctt .tecsection.sp .section-chair {
  color: #1D1D1D;
}

#programacaosessoes .head, #programacaoctt .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#programacaosessoes .head .time, #programacaoctt .head .time {
  padding: 5px;
}

#programacaosessoes .head .time .section-time, #programacaoctt .head .time .section-time {
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 2px 10px;
}

#programacaosessoes .head .time .section-day, #programacaoctt .head .time .section-day {
  text-align: center;
  font-size: .8rem;
  padding: 2px;
  border-radius: 0 0 10px 10px;
}

#programacaosessoes .head .link, #programacaoctt .head .link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 10px;
}

#programacaosessoes .head .link .assista, #programacaoctt .head .link .assista {
  margin: 5px;
}

#programacaosessoes .head .link .assista span, #programacaoctt .head .link .assista span {
  margin-left: 10px;
}

#programacaosessoes .head .title, #programacaoctt .head .title {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 1rem;
}

#programacaosessoes .head .title .section-title, #programacaoctt .head .title .section-title {
  font-size: 1.3rem;
}

#programacaosessoes .head .title .section-chair, #programacaoctt .head .title .section-chair {
  font-size: 1rem;
}

#programacaosessoes .papers .paper-link:hover .paper, #programacaoctt .papers .paper-link:hover .paper {
  -webkit-transform: scale(1.02) translateX(25px);
          transform: scale(1.02) translateX(25px);
  background-color: #d9d9d9;
}

#programacaosessoes .papers .paper, #programacaoctt .papers .paper {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: .1rem;
  border: 1px solid #E6E6E6;
  background-color: #E6E6E6;
  padding: .5rem;
  border-radius: 10px;
  margin: .5rem;
}

#programacaosessoes .papers .paper .paper-title, #programacaoctt .papers .paper .paper-title {
  color: #f5df4d;
  font-size: 1.1rem;
}

#programacaosessoes .papers .paper .authors .author, #programacaoctt .papers .paper .authors .author {
  font-size: .9rem;
  color: #1D1D1D;
}

.sessoes a.is-large {
  margin: 15px 0;
  font-size: 2rem;
}

.sessoes svg {
  margin-right: 15px;
}

.botao-palestra {
  margin-top: 5px;
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

.botao-palestra strong {
  color: #fff;
  -webkit-transition: ease;
  transition: ease;
  overflow: hidden;
}

.botao-palestra svg {
  color: #fff;
  margin-left: 10px;
}

.botao-palestra.is-danger svg {
  margin-left: 0px;
  margin-right: 10px;
}

.botao-palestra.is-warning strong, .botao-palestra.is-warning svg {
  color: #1D1D1D !important;
}

.secretaria {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.secretaria p {
  margin-bottom: .5rem;
}

.secretaria .is-large {
  width: 100%;
}

.botao-painel {
  margin-left: 20px;
}

.botao-painel svg {
  margin-right: 10px;
}
/*# sourceMappingURL=styles.css.map */