nav {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

nav.navbar {
  background-color: #f0f6f7;
}

nav.is-fixed-top {
  border-radius: 0;
  margin: 0;
  border-bottom: 3px solid #8fd6bd;
}

nav .navbar-brand {
  padding-left: 20px;
  padding-top: 5px;
}

nav .menu-real .navbar-item {
  color: #00a897;
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

nav .menu-real .navbar-item:hover {
  background-color: #8fd6bd;
  color: #0a1128;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

nav .menu-real .navbar-item img {
  max-height: 3rem;
  height: 48px;
}

nav .navbar-item, nav .button.is-primary {
  font-size: 1.05rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav .button.is-primary {
  border: 0;
  background-color: #fa7268;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fa7268), to(#f95b4f));
  background-image: linear-gradient(to bottom right, #fa7268, #f95b4f);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .button.is-primary:hover {
  background: #fa7268;
  -webkit-animation: btnanimation .4s;
          animation: btnanimation .4s;
}

@-webkit-keyframes btnanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btnanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav #nav-logo-name {
  height: 0;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

nav #nav-logo-icon {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

nav.is-fixed-top #nav-logo-name, nav.is-fixed-top #nav-logo-icon {
  height: 32px;
  -webkit-transform: scale(2) translateX(0.5rem);
          transform: scale(2) translateX(0.5rem);
}

nav.is-fixed-top #nav-logo-icon {
  -webkit-transform: scale(1.7) translateX(1.9rem) translateY(-0.1rem);
          transform: scale(1.7) translateX(1.9rem) translateY(-0.1rem);
}

.floating-date {
  margin-top: -50px;
  text-align: right;
  color: white;
  background-color: #00a897;
}

.link-marambaia {
  color: #fa7268;
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  section.section .container {
    padding: 50px 10%;
  }
}

section .title {
  color: #00a897;
  font-size: 2.4rem;
}

section .subtitle {
  font-size: 1.3rem;
  color: #8fd6bd;
}

section p, section li {
  font-size: 1.1rem;
  text-align: justify;
}

section p strong, section li strong {
  font-weight: 500;
  color: #00a897;
}

section p.lead, section li.lead {
  font-style: italic;
  color: #00a897;
  font-size: 1.3rem;
}

section.hero {
  overflow: hidden;
}

section.hero.is-primary.is-bold {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 168, 151, 0.8)), to(rgba(143, 214, 189, 0.8))), url("img/bg.jpg");
  background-image: linear-gradient(to bottom right, rgba(0, 168, 151, 0.8), rgba(143, 214, 189, 0.8)), url("img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section.hero .hero-body .container {
  text-align: center;
  margin-bottom: -5%;
}

section.hero .hero-body .container h2 {
  color: white;
  font-size: 2.4rem;
  font-weight: 900;
  font-style: italic;
  position: relative;
  top: -25px;
}

section.hero .hero-body .container h4 {
  color: white;
  font-size: 1.9rem;
  font-weight: 900;
  font-style: italic;
  position: relative;
  top: -35px;
}

section.hero img {
  max-width: 100%;
  width: 500px;
}

section #logobc {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section .galeria {
  margin-top: 20px;
}

section .galeria .column {
  text-align: center;
}

section .galeria img {
  opacity: .7;
  max-width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 1;
  border-radius: 10px;
}

section .galeria img:hover {
  z-index: 7;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
}

section#balneario, section#anais {
  background-color: #f0f6f7;
}

section#chamadas p.title {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 600;
  color: #00a897;
}

section#chamadas ul li {
  font-weight: 500;
  text-align: left;
}

section#chamadas ul li strong {
  font-weight: 700;
}

section#chamadas .tile {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

section#chamadas .tile#datas-importantes {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(143, 214, 189, 0.9)), to(rgba(0, 168, 151, 0.9)));
  background-image: linear-gradient(to top right, rgba(143, 214, 189, 0.9), rgba(0, 168, 151, 0.9));
}

section#chamadas .tile#datas-importantes .title {
  color: white;
}

section#chamadas .tile#datas-importantes li {
  background-color: white;
  color: #0a1128;
  margin-top: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

section#chamadas .tile#datas-importantes li strong {
  display: block;
  color: #00a897;
  font-size: 1.2rem;
}

section#chamadas .tile#datas-importantes li h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

section#chamadas .tile#datas-importantes li .columns {
  padding: .5rem;
}

section#chamadas .tile#datas-importantes li .columns .column {
  padding: .5rem .5rem;
}

section#chamadas .tile#datas-importantes li .columns .column .data {
  border: 2px solid #00a897;
  border-radius: 10px;
  padding: .5rem .5rem;
  padding-top: .2rem;
}

section#chamadas .tile#datas-importantes li .columns .column .data legend {
  padding: .2rem .7rem;
  padding-bottom: 0;
  font-size: 1rem;
  color: #555555;
}

@media screen and (min-width: 800px) {
  section#chamadas .tile#datas-importantes li .columns .column .data legend {
    font-size: .6rem;
  }
}

@media screen and (min-width: 1200px) {
  section#chamadas .tile#datas-importantes li .columns .column .data legend {
    font-size: .9rem;
  }
}

section#chamadas .tile#datas-importantes li .columns .column .data.data-trabalhos {
  border-color: #00a897;
}

section#chamadas .tile#autores {
  background: #0a1128;
  color: white;
}

section#chamadas .tile#autores .open-modal {
  color: #0a1128;
}

section#chamadas .tile#autores .title {
  color: white;
}

section#chamadas .tile#autores a {
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  section#chamadas #main-tile {
    padding: 0;
    margin-left: -7%;
    width: 114%;
  }
}

section#programacao {
  background-color: #f0f6f7;
}

section#programacao .card {
  margin: 2rem 0;
  border-radius: 15px;
}

section#programacao .card .resumo {
  margin: 30px 10px;
}

section#programacao .card .card-header {
  background-color: #00a897;
  border-radius: 15px 15px 0 0;
}

section#programacao .card .card-header .card-header-title {
  color: white;
  text-transform: uppercase;
}

section#programacao .card .card-header .card-header-title small {
  margin-left: 10px;
  color: #f0f6f7;
}

section#programacao .card .tab {
  overflow: visible;
}

section#programacao .card .tab span {
  color: #aaa;
}

section#programacao .card .tab .tag {
  text-align: center;
  margin-bottom: -25px;
  color: #00a897;
  z-index: 10;
}

section#programacao .card .tab .icon img {
  width: 32px !important;
  height: 32px !important;
  max-width: 32px;
  border-radius: 50%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

section#programacao .card .tab.is-active span {
  color: #00a897;
}

section#programacao .card .tab.is-active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#programacao .card .content-tab .is-primary {
  margin-bottom: 2rem;
  background: -webkit-gradient(linear, right bottom, left top, from(#00a897), to(#00d6c0));
  background: linear-gradient(to left top, #00a897, #00d6c0);
}

section#programacao .card .content-tab img {
  border-radius: 50%;
}

section#programacao .card .content-tab p {
  font-size: .9rem;
}

section#programacao .card.palestra .card-header {
  background-color: white;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 15px;
}

section#programacao .card.palestra .card-header .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -30px;
  z-index: 1;
}

section#programacao .card.palestra .card-header:hover {
  background-color: #f0f6f7;
}

section#programacao .card.palestra .card-header:hover .tooltiptext {
  visibility: visible;
}

section#programacao .card.palestra .card-header .card-header-icon {
  color: #00a897;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

section#programacao .card.palestra .card-header .card-header-icon:hover {
  color: #0a1128;
}

section#programacao .card.palestra .card-header .card-header-title {
  display: block;
  color: #00a897;
}

section#programacao .card.palestra .card-header .card-header-title span {
  color: #555555;
  display: block;
  font-size: .8rem;
}

section#programacao .card.palestra .card-content {
  max-height: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  overflow: hidden;
  padding: 0;
}

section#programacao .card.palestra.is-active .card-header {
  border-radius: 15px 15px 0 0;
  background-color: #00a897;
}

section#programacao .card.palestra.is-active .card-header:hover {
  background-color: #008f80;
}

section#programacao .card.palestra.is-active .card-header .card-header-title {
  color: white;
}

section#programacao .card.palestra.is-active .card-header .card-header-title span {
  color: white;
}

section#programacao .card.palestra.is-active .card-header .card-header-icon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section#programacao .card.palestra.is-active .card-content {
  max-height: none;
  padding: 2rem;
}

section#programacao .card.palestra .subtitle {
  margin-bottom: 0;
}

section#programacao .card.palestra .columns {
  margin-top: 1rem;
}

section#programacao .card.palestra .palestrante {
  border-radius: 15px;
  background-color: #f0f6f7;
  padding: 1.5rem;
}

section#programacao .card.palestra .palestrante .is-one-quarter {
  text-align: center;
}

section#programacao .card.palestra .palestrante p {
  font-size: .9rem;
}

section#programacao .card.palestra img {
  border-radius: 50%;
  width: 120px;
  height: auto;
}

section#anais {
  background-color: white;
}

section#anais .column article {
  background-color: #00a897;
  padding: 2rem 1rem;
  border-radius: 20px;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

section#anais .column article .title {
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

section#anais .column article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #007569;
}

section#anais .column article:hover .title {
  color: white;
}

section#realizacao {
  text-align: center;
  background-color: white;
}

section#realizacao img {
  max-height: 90px;
  max-width: 160px;
}

section#realizacao img.logo-lia {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-emct {
  -webkit-transform: scale(2);
          transform: scale(2);
}

section#realizacao img.logo-univali {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-rnp {
  margin-top: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#realizacao img.logo-polo {
  margin-top: 20px;
}

section#realizacao img.logo-asse {
  margin-top: 30px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-pulses {
  margin-top: 2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#realizacao img.logo-sist {
  margin-top: 35px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

section#realizacao img.logo-ali {
  margin-top: 15px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-seg {
  margin-top: 25px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-sunt {
  margin-top: 15px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-sico {
  margin-top: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao img.logo-qualy {
  margin-top: 30px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section#realizacao .marcas {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

section#realizacao .marcas.linha1 {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

section#realizacao .marcas.linha2 {
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

section#realizacao .marcas .logo-span {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

section#realizacao .marcas img {
  max-height: 25px;
  -webkit-filter: grayscale(100%) brightness(10000000%);
          filter: grayscale(100%) brightness(10000000%);
  opacity: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section#realizacao .marcas img#univali-logo {
  max-height: 32px;
}

@media screen and (min-width: 800px) {
  section#realizacao .marcas img {
    max-height: 32px;
  }
  section#realizacao .marcas img#univali-logo {
    max-height: 45px;
  }
}

section#realizacao .marcas img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1;
}

section#comitePrograma {
  background-color: #f0f6f7;
}

section#comitePrograma ul {
  padding-left: 2rem;
  padding-bottom: 2rem;
  list-style-type: none;
}

section#comitePrograma ul.ul-two {
  -webkit-columns: 2;
          columns: 2;
}

section#comitePrograma ul li {
  font-size: .8rem;
  color: #555555;
  text-align: left;
}

section#comitePrograma ul li:before {
  color: #8fd6bd;
  font-size: 1rem;
  content: "\26ac";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

section#comitePrograma ul li strong {
  color: #555555;
  font-weight: 700;
  font-size: 1rem;
}

section#comitePrograma .tile#membros p {
  margin-bottom: .2rem;
}

#topicos ul {
  padding-top: 1rem;
  padding-left: 2rem;
  list-style-type: none;
}

#topicos ul li {
  font-size: .9rem;
}

#topicos ul li:before {
  color: #8fd6bd;
  font-size: 1rem;
  content: "\26ac";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

footer.footer {
  background-color: #0a1128;
  color: white;
}

footer.footer a {
  color: #00a897;
}

footer.footer .fa-code {
  color: #8fd6bd;
}

footer.footer .fa-heart {
  color: #fa7268;
}

footer img {
  max-width: 100%;
  height: 1rem;
}

.big-link {
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.big-link a {
  color: #00a897;
}

.big-link a:hover {
  color: #007569;
}

.big-link .this-icon {
  font-size: 3rem;
  display: block;
}

.big-link .text {
  display: block;
}

.big-link.extreme {
  margin-top: 2rem;
}

.big-link.extreme .this-icon {
  font-size: 5rem;
}

.big-link.extreme .text {
  font-size: 2rem;
}

.modal .dados-hotel {
  padding: 2rem;
}

.modal .dados-hotel p {
  margin: 0.5rem;
}

.modal .dados-hotel img {
  border-radius: 20px;
}

.modal .mapa {
  margin: -1rem;
  margin-bottom: 3rem;
}

.modal#modal-aviso .modal-card-head {
  background-color: #00a897;
}

.modal#modal-aviso .modal-card-head p {
  color: #fff;
}

.modal#modal-aviso .small {
  font-size: .8rem;
}

.modal#modal-aviso h1 {
  color: #00a897 !important;
}

.modal#modal-aviso strong {
  color: #f00 !important;
}

.modal#modal-aviso .modal-card-body p {
  margin: 1rem 0;
}

.modal#modal-aviso .btns {
  padding: 1rem;
  text-align: right;
}

.modal#modal-aviso .btns .is-danger {
  background-color: #00a897;
}

.modal#modal-aviso .btns .is-danger:hover {
  background-color: #8fd6bd;
}

.modal#modal-aviso a {
  color: #f00 !important;
}

.modal#modal-inscricoes .table {
  vertical-align: middle;
}

.modal#modal-inscricoes .table th {
  color: #00a897;
}

.modal#modal-inscricoes .table strong {
  color: #df3939;
  font-size: .9rem;
}

.modal#modal-inscricoes .table .nahora {
  background-color: #ecf8f4;
}

.modal ul {
  list-style: disc;
  padding-left: 2rem;
}

.modal .modal-card {
  border-radius: 1rem;
}

@media screen and (min-width: 800px) {
  .modal .modal-card {
    width: 75%;
  }
}

.modal .modal-card-foot, .modal .modal-card-head {
  background-color: #0a1128;
}

.modal .modal-card-foot p, .modal .modal-card-head p {
  color: #00a897;
  font-size: 2rem;
  font-weight: 900;
}

.modal .card-host {
  margin: 2rem;
  background-color: #fa7268;
  border-radius: 20px;
}

.modal .card-host .subtitle {
  color: white;
}

.modal .diarias {
  margin-top: 1rem;
}

.modal .big-link {
  text-align: center;
}

.modal .big-link .this-icon {
  font-size: 3rem;
  display: block;
}

.modal .big-link .text {
  display: block;
}

.modal .big-link.extreme {
  margin-top: 2rem;
}

.modal .big-link.extreme .this-icon {
  font-size: 5rem;
}

.modal .big-link.extreme .text {
  font-size: 2rem;
}

.modal h2 {
  color: #00a897;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal h3 {
  color: #00a897;
  font-size: 1.2rem;
  font-weight: 600;
}

.modal h5 {
  color: #00a897;
  font-size: 1rem;
  font-weight: 500;
}

.modal a {
  color: #00a897;
}

#programacaosessoes .tag.is-info {
  margin-left: .5rem;
  font-size: .8rem;
}

#programacaosessoes .tecsection {
  padding: 1rem;
  margin: 15px 0;
  background-color: white;
  border: 3px solid #f0f6f7;
  border-radius: 10px;
}

#programacaosessoes .tecsection.st .section-time {
  background-color: #00a897;
  color: white;
  border: 1px solid #00a897;
}

#programacaosessoes .tecsection.st .section-day {
  background-color: #f0f6f7;
  color: #0a1128;
  border: 1px solid #00a897;
}

#programacaosessoes .tecsection.st .section-title {
  color: #00a897;
}

#programacaosessoes .tecsection.st .section-chair {
  color: #0a1128;
}

#programacaosessoes .tecsection.sp .section-time {
  background-color: #0a1128;
  color: white;
  border: 1px solid #0a1128;
}

#programacaosessoes .tecsection.sp .section-day {
  background-color: #f0f6f7;
  color: #0a1128;
  border: 1px solid #0a1128;
}

#programacaosessoes .tecsection.sp .section-title {
  color: #00a897;
}

#programacaosessoes .tecsection.sp .section-chair {
  color: #0a1128;
}

#programacaosessoes .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#programacaosessoes .head .time {
  padding: 5px;
}

#programacaosessoes .head .time .section-time {
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 2px 10px;
}

#programacaosessoes .head .time .section-day {
  text-align: center;
  font-size: .8rem;
  padding: 2px;
  border-radius: 0 0 10px 10px;
}

#programacaosessoes .head .link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 10px;
}

#programacaosessoes .head .link .assista {
  margin: 5px;
}

#programacaosessoes .head .link .assista span {
  margin-left: 10px;
}

#programacaosessoes .head .title {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 1rem;
}

#programacaosessoes .head .title .section-title {
  font-size: 1.3rem;
}

#programacaosessoes .head .title .section-chair {
  font-size: 1rem;
}

#programacaosessoes .papers .paper-link:hover .paper {
  -webkit-transform: scale(1.02) translateX(25px);
          transform: scale(1.02) translateX(25px);
  background-color: #dfecee;
}

#programacaosessoes .papers .paper {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: .1rem;
  border: 1px solid #f0f6f7;
  background-color: #f0f6f7;
  padding: .5rem;
  border-radius: 10px;
  margin: .5rem;
}

#programacaosessoes .papers .paper .paper-title {
  color: #00a897;
  font-size: 1.1rem;
}

#programacaosessoes .papers .paper .authors .author {
  font-size: .9rem;
  color: #0a1128;
}

.secoes svg {
  margin-right: 15px;
}
/*# sourceMappingURL=styles.css.map */