$coral: rgba(250, 114, 104, 1);
$preto: rgba(10, 17, 40, 1);
$menta: #8fd6bd;
$hortela: #00a897;
$branco: rgb(255, 255, 255);
$branco-smoke:rgba(240, 246, 247, 1);
$cinza: rgb(85,85,85);

$hero-gradient-opacity: .5;
$hero-local-gradient-opacity: .7;

$break-large: 800px;
$break-extra-large: 1200px;
$logo-border-weight: 1px;
$date-text-stroke: 3px;
$date-text-color: $branco;

$important-dates-fade-out: .1;

nav{
    transition: .3s ease;
    &.navbar{
        background-color: $branco-smoke;
    }
    
    &.is-fixed-top{
        border-radius: 0;
        margin: 0;
        border-bottom: 3px solid $menta;
    }
    .navbar-brand{
        padding-left: 20px;
        padding-top: 5px;
        
    }
    .menu-real .navbar-item{
        color: $hortela;
        transition: .9s ease;
        &:hover{
            background-color: $menta;
            color: $preto;
            transform: scale(1.05);
        }
        img{
            max-height: 3rem;
            height: 48px;
        }
    }
    .navbar-item, .button.is-primary{
        font-size: 1.05rem;
        padding-left: 1rem;
        padding-right: 1rem;
        //font-weight: 700;
    }
    .button.is-primary{
        border: 0;
        background-image: linear-gradient(to bottom right,$menta, $hortela);
        transition: 0.5s ease;
        &:hover{
            background: $hortela;
            animation: btnanimation .4s;
        }
        @keyframes btnanimation {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
    }
   
    #nav-logo-name{
        height: 0;
        transition: .6s ease;

    }
    #nav-logo-icon{
        transform: scale(1.7);
    }
    &.is-fixed-top{
        #nav-logo-name, #nav-logo-icon{
            height: 32px;
            transform: scale(2) translateX(.5rem);
        }
        #nav-logo-icon{
            transform: scale(1.7) translateX(1.9rem) translateY(-.1rem);
        }
    }
}
.floating-date{
    margin-top: -50px;
    text-align: right;
    color: $branco;
    background-color: $hortela;
}
.link-marambaia{
    color: $coral;
    font-weight: 600;
    text-decoration: underline;
}
section{
    &.section{
        .container{
            @media screen and (min-width: $break-large) {
                padding: 50px 15%;
            }           
        }
    }
    
    .title{
        color: $hortela;
        font-size: 2.4rem;
    }
    .subtitle{
        font-size: 1.3rem;
        color: $menta;
    }
    p, li{ // REVER EFEITO
        font-size: 1.1rem;
        text-align: justify;
        strong {
            font-weight: 500;
            color: $hortela;
        }
        &.lead{
            font-style: italic;
            color: $hortela;
            font-size: 1.3rem;
        }
    }
    &.hero{
        overflow: hidden;
        &.is-primary{
            &.is-bold{
                background-image: url('img/bg.jpg');
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
            }
        }
        .hero-body{
            //background-image: linear-gradient(to bottom right,rgba($coral,$hero-gradient-opacity), rgba($menta,$hero-gradient-opacity));
            .container{
                text-align: center;                   
                margin-bottom: -5%;
                h2{
                    color: $hortela;
                    font-size: 2.4rem;
                    font-weight: 900;
                    font-style: italic;
                    -webkit-text-stroke: 3px $branco;
                    position: relative;
                    top: -25px;
                }
                h4{
                    color: $hortela;
                    font-size: 1.9rem;
                    font-weight: 900;
                    font-style: italic;
                    -webkit-text-stroke: 2px $branco;
                    position: relative;
                    top: -35px;

                }
            }
           
        }
        img{
            max-width: 100%;
            width: 500px;
        }
    }
    #logobc{
        transform: scale(.8);
    }
    .galeria{
        margin-top: 20px;
        .column{
            text-align: center;
        }
        img{
            opacity: .7;
            max-width: 100%;
            transition: .3s ease-in-out;
            z-index: 1;
            border-radius: 10px;
            &:hover{
                z-index: 7;
                opacity: 1;
                transform: scale(1.1);
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
            }
        }
    }    
    &#balneario, &#anais{
        background-color: $branco-smoke;
    }
    &#chamadas{
        p{
            &.title{
                font-size: 1.9rem;
                text-align: center;
                font-weight: 600;
                color: $hortela;
            }   
        }
        ul{
            li{
                font-weight: 500;
                text-align: left;
                strong{
                    font-weight: 700;
                }
            }
        }
        .tile{
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            &#datas-importantes{
                background-image: linear-gradient(to top right,fade-out($menta, $important-dates-fade-out), fade-out($hortela, $important-dates-fade-out));
                //background-image: linear-gradient(to top right,$menta, $hortela);
                //background-color: fade-out($hortela, 0.4);
                .title{
                    color: $branco;
                }
                
                li{
                    background-color: $branco;
                    color: $preto;
                    margin-top: 1rem;
                    padding: .5rem 1rem;
                    text-align: center;
                    border-radius: 1rem;
                    font-size: 1rem;
                    strong{
                        display: block;
                        color: $hortela;
                        font-size: 1.2rem;
                    }
                    transition: .3s ease;
                    // &:hover{
                    //     transform: scale(1.05);
                    // }
                    h4{
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    .columns{
                        padding:.5rem;
                        .column{
                            padding: .5rem .5rem ;
                            
                            .data{
                                border: 2px solid $hortela;
                                border-radius: 10px;
                                padding: .5rem .5rem;
                                padding-top: .2rem;
                                legend{
                                    padding: .2rem .7rem;
                                    padding-bottom: 0;
                                    font-size: 1rem;
                                    @media screen and (min-width: $break-large) {
                                        font-size: .6rem;
                                    }
                                    @media screen and (min-width: $break-extra-large) {
                                        font-size: .9rem;
                                    } 
                                    
                                    color: $cinza;
                                }
                                &.data-trabalhos{
                                    border-color: $hortela;
                                    
                                }
                               
                            }
                            
                        }
                    }
                }
            }
            &#autores{
                .open-modal{
                    color: $preto;
                }
                background: $preto;
                .title{
                    color: $branco;
                }
                color: $branco;
                a{
                    margin-top: 1rem;
                }
            }
            
        }
        #main-tile{
            @media screen and (min-width: $break-large) {
                padding: 0;
                margin-left: -7%;
                width: 114%;
            } 
            
        }
    }
    &#programacao{
        background-color: $branco-smoke;
        .card{
            margin: 2rem 0;
            border-radius: 15px;
            .resumo{
                margin: 30px 10px;
            }
            .card-header{
                background-color: $hortela;
                border-radius: 15px 15px 0 0 ;
                .card-header-title{
                    color: $branco;
                    text-transform: uppercase;
                    small{
                        margin-left: 10px;
                        color: $branco-smoke;
                    }                
                }
            }
            .tab{
                overflow: visible;
                span{
                    color: #aaa;
                }
                .tag{
                    text-align: center;
                    margin-bottom: -25px;
                    color: $hortela;
                    z-index: 10;
                }
                .icon{
                    img{
                        width: 32px !important;
                        height: 32px !important;
                        max-width: 32px;
                        border-radius: 50%;
                        filter: grayscale(1);
                        transition: .9s ease;
                    }
                }
                &.is-active{
                    span{
                        color: $hortela;
                    }
                    img{
                        filter: grayscale(0);
                    }
                    
                }
            }
            .content-tab{
                img{
                    border-radius: 50%;
                }
                p{
                    font-size: .9rem;
                }
            }

            &.palestra{
                .card-header{
                    background-color: $branco;
                    .tooltiptext {
                        visibility: hidden;
                        width: 120px;
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        padding: 5px 0;
                        border-radius: 6px;
                       
                        /* Position the tooltip text - see examples below! */
                        position: absolute;
                        top: -30px;
                        z-index: 1;
                    }
                    cursor: pointer;
                    &:hover{
                        background-color:$branco-smoke;
                        .tooltiptext {
                            visibility: visible;
                          }
                    }
                    
                    .card-header-icon{
                        color: $hortela;
                        transition: .5s ease-in;
                        &:hover{
                            color: $preto;
                        }
                    }
                    transition: .3s ease;
                    border-radius: 15px;
                    .card-header-title{
                        display: block;
                        color: $hortela;
                        span{
                            color: $cinza;
                            display: block;
                            font-size: .8rem;
                        }
                    }
                }
                .card-content{
                    max-height: 0;
                    transition: .3s ease;
                    overflow: hidden;
                    padding: 0;
                }
                
                &.is-active{
                    .card-header{
                        border-radius: 15px 15px 0 0 ;
                        background-color: $hortela;
                        &:hover{
                            background-color:$cinza;
                        }
                        .card-header-title{
                            color: $branco;
                            span{
                                color: $branco;
                            }
                        }
                        .card-header-icon{
                            color: $branco;
                            transform: rotate(180deg);
                        }
                    }
                    .card-content{
                        max-height: 100vh;
                        padding: 2rem;
                    }
                    
                }
                .subtitle{
                    margin-bottom: 0;
                }
                .columns{
                    margin-top: 1rem;
                }
                .palestrante{
                    .is-one-quarter{
                        text-align: center;
                    }
                    border-radius: 15px;
                    background-color: $branco-smoke;
                    padding: 1.5rem;
                    p{
                        font-size: .9rem;
                    }
                }
                img{
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
    &#anais{
        background-color: $branco;
        .column{
            article{
                background-color: $hortela;
                padding: 2rem 1rem;
                border-radius: 20px;
                height: 100%;
                .title{
                    text-align: center;
                    font-size: 1.7rem;
                    color: $branco;
                }
                transition: .3s ease;
                &:hover{
                    transform: scale(1.05);
                    background-color: $preto;
                    .title{
                        color: $branco;
                    }
                }
            }
            
        }
    }
    &#realizacao{
        text-align: center;
        background-color: $branco;
        img{
            max-height: 90px;
            max-width: 160px;
            &.logo-lia{
                transform: scale(.9);
            }
            &.logo-emct{
                transform: scale(2);
            }
            &.logo-univali{
                transform: scale(.9);
            }
            &.logo-rnp{
                margin-top: 20px;
                transform: scale(1.1);
            }
            &.logo-polo{
                margin-top: 20px;
            }
            &.logo-asse{
                margin-top: 30px;
                transform: scale(1.2);
            }
            &.logo-pulses{
                margin-top: 2px;
                transform: scale(.9);
            }
            &.logo-sist{
                margin-top: 35px;
                transform: scale(1.3);
            }
            &.logo-ali{
                margin-top: 15px;
                transform: scale(1.2);
            }
            &.logo-seg{
                margin-top: 25px;
                transform: scale(1.2);
            }
            &.logo-sunt{
                margin-top: 15px;
                transform: scale(1.2);
            }
            &.logo-sico{
                margin-top: 10px;
                transform: scale(1.2);
            }
            &.logo-qualy{
                margin-top: 30px;
                transform: scale(1.2);
            }
        }    
        .marcas{            
            margin-top: 30px;            
            display: grid;
            &.linha1{
                grid-template-columns: auto auto auto; 
            }
            &.linha2{
                grid-template-columns: auto auto auto auto; 
            }
            .logo-span{
                grid-column-start: 2;
            }                      
            grid-gap: 10px;                     
            
            img{
                max-height: 25px;
                &#univali-logo{
                    max-height: 32px;   
                }
                @media screen and (min-width: $break-large) {
                    max-height: 32px;
                    &#univali-logo{
                        max-height: 45px;   
                    }
                }
                
                filter: grayscale(100%) brightness(10000000%);
                opacity: 1;
                transition: .2s ease;
                &:hover{
                    filter: none;
                    transform: scale(1.01);
                    opacity: 1;
                }
            }
        }
    }
    &#comitePrograma{
        background-color: $branco-smoke;
        ul{
            &.ul-two{
                columns: 2;
            }
            padding-left: 2rem;
            padding-bottom: 2rem;
            list-style-type: none;
            li{
                &:before{
                    color: $menta;
                    font-size: 1rem;
                    content: "\26ac";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                }
                font-size: .8rem;
                color: $cinza;
                text-align: left;
                strong{
                    color: $cinza;
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }
        .tile{
            &#membros {
                p {
                    margin-bottom: .2rem;
                }
            }
        }
    }
}
#topicos{
    ul{
        padding-top: 1rem;
        padding-left: 2rem;
        list-style-type: none;
        li{
            &:before{
                color: $menta;
                font-size: 1rem;
                content: "\26ac";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
            font-size: .9rem;
        }
    }
}

footer{
    &.footer{
        background-color: $preto;
        color: $branco;
        a{
            color: $hortela;
        }
        .fa-code{
            color: $menta;
        }
        .fa-heart{
            color: $coral;
        }
    }
    
    img{
        max-width: 100%;
        height: 1rem;
        
    }
}

.big-link{
    text-align: center;
    .this-icon{
        font-size: 3rem;
        display: block;
    }
    .text{
        display: block;
    }
    &.extreme{
        margin-top: 2rem;
        .this-icon{
            font-size: 5rem;
        }
        .text{
            font-size: 2rem;
        }
    }
}

.modal{
    .dados-hotel{
        padding: 2rem;
        p{
            margin: 0.5rem;
        }
        img{
            border-radius: 20px;
        }
    }
    .mapa{
        margin: -1rem;
        margin-bottom: 3rem;
    }
    &#modal-aviso{
        .modal-card-head{
            background-color: $hortela;
            p{
                color: #fff;       
            }
        }
        .small{
            font-size: .8rem;
        }
        h1{
            color: $hortela !important;
        } 
        strong{
            color: #f00 !important;
        }
        .modal-card-body{
            p{
                margin: 1rem 0;
            }
        }
        
        .btns{
            padding: 1rem;
            text-align: right;
            .is-danger{
                background-color: $hortela;
                &:hover{
                    background-color: $menta;    
                }
            }
        }
        a{
            color: #f00 !important;
        }
    }
    &#modal-inscricoes{
        .table{
            th{
                color: $hortela;
            }
            strong{
                color: rgb(223, 57, 57);
                font-size: .9rem;
            }
            vertical-align: middle;
            .nahora{
                background-color: lighten($menta,25%);
            }
        }
    }
    ul{
        list-style: disc;
        padding-left: 2rem;
    }
    .modal-card{
        border-radius: 1rem;
        @media screen and (min-width: $break-large) {
            width: 75%;
        }
        
    }
    .modal-card-foot, .modal-card-head {            
        background-color: $preto;
        p{
            color: $hortela;
            font-size: 2rem;
            font-weight: 900;
        }
    }
    .card-host{
        margin: 2rem;
        background-color: $coral;
        border-radius: 20px;
        .subtitle{
            color: $branco;
        }
    }
    .diarias{
        margin-top: 1rem;
    }
    .big-link{
        text-align: center;
        .this-icon{
            font-size: 3rem;
            display: block;
        }
        .text{
            display: block;
        }
        &.extreme{
            margin-top: 2rem;
            .this-icon{
                font-size: 5rem;
            }
            .text{
                font-size: 2rem;
            }
        }
    }
    h2{
        color: $hortela;
        font-size: 1.4rem;
        font-weight: 700;            
    }
    h3{
        color: $hortela;
        font-size: 1.2rem;
        font-weight: 600;            
    }
    h5{
        color: $hortela;
        font-size: 1rem;
        font-weight: 500;            
    }
    a{
        color: $hortela;
    }
}

