$coral:#744df5;
$branco: #292929;
$menta: #939597;
$hortela:#f5df4d;
$preto: #fff;
$branco-smoke:#525252;
$cinza: #939597;
$hero-gradient-opacity: .95;
$hero-local-gradient-opacity: .7;
$break-large: 800px;
$break-extra-large: 1200px;
$logo-border-weight: 1px;
$date-text-stroke: 3px;
$date-text-color: $branco;
$colors-darken: 30%;
$important-dates-fade-out: .1;

$color_mc: #18a549;
$color_pl: darken($coral, 10%);
$color_sp: darken($hortela, 25%);
$color_sem: #e7c436;
$color_ctt: darken($menta, 20%);
$color_pn: $preto;
nav{
    transition: .3s ease;
    &.navbar{
        background-color: $branco-smoke;
    }
    .navbar-burger{
        &.burger{
            span{
                background-color: $preto;
            }
        }
    }
    
    .navbar-brand{
        padding-left: 20px;
        padding-top: 5px;
        
    }
    .navbar-menu{
        &.is-active{
            background-color: $branco;
        }
    }
    .menu-real .navbar-item{
        color: $preto;
        background-color: $branco-smoke;
        transition: .3s ease;
        &:hover{
            background-color:$hortela;
        }
        img{
            max-height: 3rem;
            height: 48px;
        }
    }
    &.is-fixed-top{
        border-radius: 0;
        margin: 0;
        border-bottom: 3px solid $hortela;
        backdrop-filter: blur(5px);
        background-color: $branco;
        .menu-real .navbar-item{
            background-color: $branco;
        }
    }
    .navbar-item, .button.is-primary{
        font-size: 1.05rem;
        padding-left: 1rem;
        padding-right: 1rem;
        //font-weight: 700;
    }
    .button.is-primary{
        border: 0;
        background-color: $hortela;
        background-image: linear-gradient(to bottom right,$hortela, darken($hortela, 20%));
        transition: 0.5s ease;
        &:hover{
            background: $menta;
            animation: btnanimation .4s;
        }
        @keyframes btnanimation {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
    }
   
    #nav-logo-name{
        height: 0;
        transition: .6s ease;

    }
    #nav-logo-icon{
        transform: scale(1.5);
    }
    &.is-fixed-top{
        #nav-logo-name, #nav-logo-icon{
            height: 32px;
            transform: scale(2) translateX(.5rem);
        }
        #nav-logo-icon{
            transform: scale(1.7) translateX(1.5rem) translateY(-.08rem);
        }
    }
}

.floating-date{
    margin-top: -50px;
    text-align: right;
    color: $branco;
    background-color: $hortela;
}

.link-marambaia{
    color: $coral;
    font-weight: 600;
    text-decoration: underline;
}
.button{
    &.is-primary{
        border: none;
        background: $hortela;
        color: $branco !important;
        font-weight: 700;
        &:hover{
            background: $menta;
        }
        &.is-inverted{
            background: $branco;
            color: $hortela !important;
        }
    }
}
section{
    background-color: $branco;
    &.section{
        .container{
            @media screen and (min-width: $break-large) {
                padding: 50px 10%;
            }         
        }
    }
    
    .title{
        color: $hortela;
        font-size: 2.4rem;
    }
    .subtitle{
        font-size: 1.3rem;
        color: $menta;
    }
    p, li{ // REVER EFEITO
        color: $preto;
        font-size: 1.1rem;
        text-align: justify;
        strong {
            font-weight: 900;
            color: $hortela;
        }
        &.lead{
            font-style: italic;
            font-weight: 600;
            color: $menta;
            font-size: 1.3rem;
        }
    }
    &.hero{
        overflow: hidden;
        &.is-primary{
            &.is-bold{
                // background-image: linear-gradient(to bottom right, rgba($branco,$hero-gradient-opacity), rgba($branco,$hero-gradient-opacity)), url('img/bg.jpg');
                background: $branco;
                background-size: cover;
                background-attachment: fixed;
                background-position: bottom;
            }
        }
        .hero-body{
            //background-image: linear-gradient(to bottom right,rgba($coral,$hero-gradient-opacity), rgba($menta,$hero-gradient-opacity));
            .container{
                text-align: center;                   
                margin-bottom: -5%;
                h2{
                    color: $branco;
                    font-size: 2.4rem;

                    font-weight: 300;
                    font-style: italic;
                    // -webkit-text-stroke: 1px $branco;
                    position: relative;
                }
                h4{
                    color: $branco;
                    font-size: 1.9rem;
                    font-weight: 300;
                    font-style: italic;
                    // -webkit-text-stroke: 2px $branco;
                    position: relative;

                }
            }
           
        }
        img{
            max-width: 100%;
            width: 500px;
        }
    }
    #logobc{
        transform: scale(.8);
    }
    .galeria{
        margin-top: 20px;
        .column{
            text-align: center;
        }
        img{
            opacity: .9;
            max-width: 100%;
            transition: .3s ease-in-out;
            z-index: 1;
            border-radius: 10px;
            &:hover{
                z-index: 7;
                opacity: 1;
                transform: scale(1.1);
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.541);
            }
        }
    }
    &#balneario, &#anais{
        background-color: $branco-smoke;
        .title{
            color: $menta;
        }
    }
    &#chamadas{
        del{
            color: $coral;
        }
        p{
            &.title{
                font-size: 1.9rem;
                text-align: center;
                font-weight: 600;
                color: $hortela;
            }   
        }
        ul{
            li{
                font-weight: 500;
                text-align: left;
                strong{
                    font-weight: 700;
                }
            }
        }
        .tile{
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            &#datas-importantes{
                background-image: linear-gradient(to top right,fade-out($menta, $important-dates-fade-out), fade-out($hortela, $important-dates-fade-out));
                //background-image: linear-gradient(to top right,$menta, $hortela);
                //background-color: fade-out($hortela, 0.4);
                .title{
                    color: $branco;
                }
                
                li{
                    background-color: $branco;
                    color: $preto;
                    margin-top: 1rem;
                    padding: .5rem 1rem;
                    text-align: center;
                    border-radius: 1rem;
                    font-size: 1rem;
                    strong{
                        display: block;
                        color: $hortela;
                        font-size: 1.2rem;
                    }
                    transition: .3s ease;
                    // &:hover{
                    //     transform: scale(1.05);
                    // }
                    h4{
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    .columns{
                        padding:.5rem;
                        .column{
                            padding: .5rem .5rem ;
                            
                            .data{
                                border: 2px solid $hortela;
                                border-radius: 10px;
                                padding: .5rem .5rem;
                                padding-top: .2rem;
                                legend{
                                    padding: .2rem .7rem;
                                    padding-bottom: 0;
                                    font-size: 1rem;
                                    @media screen and (min-width: $break-large) {
                                        font-size: .6rem;
                                    }
                                    @media screen and (min-width: $break-extra-large) {
                                        font-size: .9rem;
                                    } 
                                    
                                    color: $cinza;
                                }
                                &.data-trabalhos{
                                    border-color: $hortela;
                                    
                                }
                               
                            }
                            
                        }
                    }
                }
            }
            &#autores{
                .open-modal{
                    color: $preto;
                }
                background: $preto;
                .title{
                    color: $branco;
                }
                color: $branco;
                a{
                    margin-top: 1rem;
                }
            }
            
        }
        #main-tile{
            @media screen and (min-width: $break-large) {
                padding: 0;
                margin-left: -7%;
                width: 114%;
            } 
            
        }
    }
    &#programacao{
        background-color: $branco-smoke;
        .title{
            small{
                font-size: 1.2rem;
                color: #444;
            }
        }
        p{
            &.is-danger{
                color: #ff3860;
            }
        }
        h3{
            &.title{
                margin-top: 3rem;
                font-size: 2rem;
                
            }
        }
        .card{
            margin: 2rem 0;
            border-radius: 15px;
            .resumo{
                margin: 30px 10px;
            }
            .card-header{
                background-color: $hortela;
                border-radius: 15px 15px 0 0 ;
                .card-header-title{
                    color: $branco;
                    small{
                        margin-left: 10px;
                        color: $branco-smoke;
                    }                
                }
            }
            .tab{
                overflow: visible;
                span{
                    color: #aaa;
                }
                .tag{
                    text-align: center;
                    margin-bottom: -25px;
                    color: $hortela;
                    z-index: 10;
                }
                .icon{
                    img{
                        width: 32px !important;
                        height: 32px !important;
                        max-width: 32px;
                        border-radius: 50%;
                        filter: grayscale(1);
                        transition: .9s ease;
                    }
                }
                &.is-active{
                    span{
                        color: $hortela;
                    }
                    img{
                        filter: grayscale(0);
                    }
                    
                }
            }
            .content-tab{
                .name{
                    color: $menta;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                .is-primary{
                    margin-bottom: 1rem;
                    background: linear-gradient(to left top,$hortela, lighten($hortela,9%));
                }
                img{
                    border-radius: 50%;
                }
                p{
                    font-size: .9rem;
                }
            }

            &.palestra, &.painel{
                .card-header{
                    background-color: $branco;
                    cursor: pointer;
                    &:hover{
                        background-color: #f5f5f5;
                    }
                    
                    .card-header-icon{
                        
                        color: $hortela;
                        transition: .5s ease-in;
                        &:hover{
                            color: $preto;
                        }
                    }
                    transition: .3s ease;
                    border-radius: 15px;
                    .card-header-title{
                        display: grid;
                        grid-template-columns: auto 1fr;
                        color: $hortela;
                        padding: 1rem;
                        .card-header-calendar{
                            color: $menta;
                            background-color: $branco;
                            border: 1px solid #ccc;
                            padding: .5rem 1.5rem;
                            border-radius: 15px;
                            margin: .5rem;
                            text-align: center;
                            height: 100%;
                            display: grid;
                            grid-gap: 0;
                            place-items: center;
                            p{
                                margin: 0;
                                
                            }
                            .dia-mes{
                                font-size: 2rem;
                                line-height: 2rem;
                                text-align: center;
                            }
                            .mes{
                                font-size: 1rem;
                                line-height: .8rem;
                                text-align: center; 
                                font-weight: 400;
                            }
                            .hora{
                                font-size: .8rem;
                                text-align: center; 
                                font-weight: 400;
                            }
                        }
                        .card-header-text{
                            strong{
                                color: $preto;
                                font-weight: 700;
                            }
                            a{
                                strong{
                                    color: $branco;
                                }
                            }
                            span{
                                color: $cinza;
                                display: block;
                                font-size: .8rem;
                            }
                        }
                        
                    }
                    
                }
                
                .card-content{
                    max-height: 0;
                    transition: .3s ease;
                    overflow: hidden;
                    padding: 0;
                }
                
                &.is-active{
                    .card-header{
                        border-radius: 15px 15px 0 0 ;
                        background-color: $preto;
                        .card-header-title{
                            // .card-header-calendar{
                            //     // background-color: $branco;
                            //     // color: $menta;
                            // }
                            color: $branco;

                            strong{
                                color: $hortela;
                            }
                            // a{
                            //     strong{
                            //         color: $branco;
                            //     }
                            // }
                            span{
                                color: $branco-smoke;
                            }
                        }
                        .card-header-icon{
                            color: $branco;
                            transform: rotate(180deg);
                        }
                    }
                    .card-content{
                        max-height: none;
                        padding: 2rem;
                    }
                    
                }
                &.mc{
                    .card-header{
                        .card-header-calendar{
                            color: $color_mc;
                        }
                    }
                }
                &.pl{
                    .card-header{
                        .card-header-calendar{
                            color: $color_pl;
                        }
                    }
                }
                &.pn{
                    .card-header{
                        .card-header-calendar{
                            color: $color_pn;
                        }
                    }
                }
                &.sem{
                    .card-header{
                        .card-header-calendar{
                            color: $color_sem;
                        }
                    }
                }
                .subtitle{
                    margin-bottom: 0;
                }
                .columns{
                    margin-top: 1rem;
                }
                
            }
            &.palestra{
                .palestrante{
                    .is-one-quarter{
                        text-align: center;
                    }
                    border-radius: 15px;
                    background-color: $branco-smoke;
                    padding: 1.5rem;
                    p{
                        font-size: .9rem;
                    }
                }
                img{
                    border-radius: 50%;
                    width: 120px;
                    height: auto;
                }
            }
        }
        .subtitle{
            color: $preto;
        }
        .grid{
            margin: 1rem 0;
            border: 2px $menta solid;
            background-color: $branco;
            border-radius: 5px;
            padding: 1rem;
            display: grid;
            @media screen and (min-width: $break-large) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            grid-gap: 1rem; 
            .dia{
                .encerramento{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    &:first-child {
                        margin-left: 15px;
                    }
                }
                display: grid;
                grid-gap: .3rem;
                .duo{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: .5rem;

                    .ev{
                        display: grid;
                        grid-gap: .3rem; 
                    }
                }
            }
            &.sem{
                @media screen and (min-width: $break-large) {
                    grid-template-columns: 1fr;
                }
                border: none;
                .dia{
                    display: grid;
                    grid-gap: 1rem;
                    grid-template-columns: 1fr;
                    // @media screen and (min-width: $break-large) {
                    //     grid-template-columns: 1fr 1fr;
                    // }
                    .card{
                        margin: 0;
                        display: grid;
                    }
                    .card, .card-header{
                        border-radius: 20px;
                    }
                    .card-header{
                        background-color: $branco;
                        .card-header-title{
                            color: $preto;
                            grid-template-columns: 1fr;
                            @media screen and (min-width: $break-large) {
                                grid-template-columns: auto 1fr;
                            }
                            span{
                                color: $menta;
                            }
                            .dia-mes{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
            h2{
                font-weight: 500;
                text-align: center;
            }
            .track{
                display: grid;
                grid-template-columns: 1fr 55px;
                p{
                    font-size: 1rem;
                }
                p, span{
                    padding: 6px;
                    margin-bottom: 0;
                    display: grid;
                    place-items: center;
                }
                span{
                    text-align: center;
                    background-color: $branco;
                    color: $menta;
                    border-radius: 0 5px 5px 0;
                }
                background-color: $hortela;
                color: $branco;
                position: relative;
                border-radius: 5px;
                border: 1px solid $hortela;

                
                transition: .2s ease;
                &:hover{
                    transform: scale(1.025);
                    opacity: .8;
                }
                &.int{
                    cursor: default;
                    &:hover{
                        transform: scale(1);
                    }   
                }
                &.premio{
                    background-color: darken($preto, 5%);

                }
                &.course{
                    background-color: lighten($hortela, 2%);
                }
                &.pl{
                    background-color: $color_pl;
                    
                }
                &.sp{
                    background-color: $color_sp;
                }
                &.mc{
                    background-color: $color_mc;
                }
                &.sem{
                    background-color: $color_sem;
                    color: $preto;
                }
                &.ctt{
                    background-color: $color_ctt;
                }
                &.pn{
                    background-color: $color_pn;
                }
                &.bt{
                    background-color: lighten($preto, 7%);
                    // padding: 1.9rem 6px;
                    // span{
                    //     margin-top: -1.9rem;
                    //     padding: 1.9rem 6px;
                    // }
                }
                &.painel{
                    background-color: lighten($preto, 7%);
                }
                &.int{
                    background-color: $branco;
                    color: $preto;
                    // border: $branco;
                    // span{
                    //     // background-color: ;
                    //     // color: $branco;
                    // }
                }
            }
        }
    }
    &#anais{
        background-color: $branco-smoke;
        .title{
            color: $preto;
        }
        .column{
            article{
                background-color: $hortela;
                padding: 2rem 1rem;
                border-radius: 20px;
                height: 100%;
                &.anal-new{
                    background-color: $coral;
                    &:hover{
                        transform: scale(1.05);
                        background-color: darken($coral,10%);
                    }
                }
                .title{
                    text-align: center;
                    font-size: 1.7rem;
                    color: $branco;
                }
                transition: .3s ease;
                &:hover{
                    transform: scale(1.05);
                    background-color: darken($hortela,10%);
                    .title{
                        color: $branco;
                    }
                }
            }
            
        }
    }
    &#realizacao{
        .title{
            color: $preto;
        }
        text-align: center;
        background-color: $branco;
        img{
            
            max-height: 90px;
            max-width: 160px;
            &.logo-fapesc{
                transform: scale(1.2);
                margin-top: -10px;
            }
            &.logo-lia{
                transform: scale(.9);
            }
            &.logo-emct{
                transform: scale(2);
            }
            &.logo-univali{
                transform: scale(.9);
            }
            &.logo-rnp{
                margin-top: 20px;
                transform: scale(1.1);
            }
            &.logo-polo{
                margin-top: 20px;
            }
            &.logo-asse{
                margin-top: 32px;
                transform: scale(1.2);
            }
            &.logo-pulses{
                margin-top: 2px;
                transform: scale(.9);
            }
            &.logo-sist{
                margin-top: 35px;
                transform: scale(1.3);
            }
            &.logo-ali{
                margin-top: 20px;
                transform: scale(1.2);
            }
            &.logo-seg{
                margin-top: 25px;
                transform: scale(1.2);
            }
            &.logo-sunt{
                margin-top: 25px;
                transform: scale(1.2);
            }
            &.logo-sico{
                margin-top: 15px;
                transform: scale(1.2);
            }
            &.logo-out{
                margin-top: -5px;
            }
            &.logo-qualy{
                margin-top: 30px;
                transform: scale(1.2);
            }
        }    
        .marcas{            
            margin-top: 30px;            
            display: grid;
            &.linha1{
                grid-template-columns: auto auto auto; 
            }
            &.linha2{
                grid-template-columns: auto auto auto auto; 
            }
            .logo-span{
                grid-column-start: 2;
            }                      
            grid-gap: 10px;                     
            
            img{
                max-height: 25px;
                &#univali-logo{
                    max-height: 32px;   
                }
                @media screen and (min-width: $break-large) {
                    max-height: 32px;
                    &#univali-logo{
                        max-height: 45px;   
                    }
                }
                
                filter: grayscale(100%) brightness(10000000%);
                opacity: 1;
                transition: .2s ease;
                &:hover{
                    filter: none;
                    transform: scale(1.01);
                    opacity: 1;
                }
            }
        }
    }
    &#comitePrograma{
        background-color: $branco-smoke;
        ul{
            &.ul-two{
                columns: 2;
            }
            padding-left: 2rem;
            padding-bottom: 2rem;
            list-style-type: none;
            li{
                &:before{
                    color: $menta;
                    font-size: 1rem;
                    content: "\26ac";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                }
                font-size: .8rem;
                color: $cinza;
                text-align: left;
                strong{
                    color: $cinza;
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }
        .tile{
            &#membros {
                p {
                    margin-bottom: .2rem;
                }
            }
        }
    }
}

#topicos, .styled-ul{
    ul{
        padding-top: 1rem;
        padding-left: 2rem;
        list-style-type: none;
        li{
            &:before{
                color: $menta;
                font-size: 1rem;
                content: "\26ac";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
            font-size: .9rem;
        }
    }
}

footer{
    &.footer{
        background-color: $preto;
        color: $branco;
        a{
            color: $hortela;
        }
        .fa-code{
            color: $menta;
        }
        .fa-heart{
            color: $coral;
        }
    }
    
    img{
        max-width: 100%;
        height: 1rem;
        
    }
}

.big-link{
    text-align: center;
    transition: .3s ease;
    a{
        color: $hortela;
       
        &:hover{
            color:darken($hortela,10%);
        }
    }
    
    .this-icon{
        font-size: 3rem;
        display: block;
    }
    .text{
        display: block;
    }
    &.extreme{
        margin-top: 2rem;
        .this-icon{
            font-size: 5rem;
        }
        .text{
            font-size: 2rem;
        }
    }
}

.modal{
    .dados-hotel{
        padding: 2rem;
        p{
            margin: 0.5rem;
        }
        img{
            border-radius: 20px;
        }
    }
    .mapa{
        margin: -1rem;
        margin-bottom: 3rem;
    }
    &#modal-aviso{
        .modal-card-head{
            background-color: $hortela;
            p{
                color: #fff;       
            }
        }
        .small{
            font-size: .8rem;
        }
        h1{
            color: $hortela !important;
        } 
        strong{
            color: #f00 !important;
        }
        .modal-card-body{
            p{
                margin: 1rem 0;
            }
        }
        
        .btns{
            padding: 1rem;
            text-align: right;
            .is-danger{
                background-color: $hortela;
                &:hover{
                    background-color: $menta;    
                }
            }
        }
        a{
            color: #f00 !important;
        }
    }
    &#modal-inscricoes{
        .table{
            width: 100%;
            th{
                color: $hortela;
            }
            strong{
                color: rgb(223, 57, 57);
                font-size: .9rem;
            }
            vertical-align: middle;
            .nahora{
                background-color: lighten($menta,25%);
            }
        }
    }
    ul{
        list-style: disc;
        padding-left: 2rem;
    }
    .modal-card{
        border-radius: 1rem;
        @media screen and (min-width: $break-large) {
            width: 75%;
        }
        
    }
    .modal-card-foot, .modal-card-head {            
        background-color: $preto;
        p{
            color: $hortela;
            font-size: 2rem;
            font-weight: 900;
        }
    }
    .card-host{
        margin: 2rem;
        background-color: $coral;
        border-radius: 20px;
        .subtitle{
            color: $branco;
        }
    }
    .diarias{
        margin-top: 1rem;
    }
    .big-link{
        text-align: center;
        .this-icon{
            font-size: 3rem;
            display: block;
        }
        .text{
            display: block;
        }
        &.extreme{
            margin-top: 2rem;
            .this-icon{
                font-size: 5rem;
            }
            .text{
                font-size: 2rem;
            }
        }
        &.button{
            a{
                color: $branco !important;
            }
            
        }
    }
    h2{
        color: $hortela;
        font-size: 1.4rem;
        font-weight: 700;            
    }
    h3{
        color: $hortela;
        font-size: 1.2rem;
        font-weight: 600;            
    }
    h5{
        color: $hortela;
        font-size: 1rem;
        font-weight: 500;            
    }
    a{
        color: $hortela;
    }
}
.is-danger{
    color: #ff3860;
}
#programacaosessoes,#programacaoctt{
    .tag{
        &.is-info{
            margin-left: .5rem;
            font-size: .8rem;
        }
    }
    .tecsection{
        padding: 1rem;
        margin: 15px 0;
        background-color: $branco;
        border: 3px solid $branco-smoke;
        border-radius: 10px;
        &.st{
            .section-time{
                background-color: $hortela;
                color: $branco;
                border: 1px solid $hortela;
            }
            .section-day{
                background-color: $branco-smoke;
                color: $preto;
                border: 1px solid $hortela;
            }
            .section-title{
                color: $hortela;
            }
            .section-chair{
                color: $preto;
            }
        }
        &.sp{
            .section-time{
                background-color: $preto;
                color: $branco;
                border: 1px solid $preto;
            }
            .section-day{
                background-color: $branco-smoke;
                color: $preto;
                border: 1px solid $preto;
            }
            .group-title{
                font-size: 1.1rem;
                margin-top: 1rem;
            }
            .group-chair{
                color: $preto;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            .section-title{
                color: $hortela;
            }
            .section-chair{
                color: $preto;
            }
        }
    }
    .head{
        display: flex;
        .time{
            padding: 5px;
            .section-time{
                text-align: center;
                border-radius: 10px 10px 0 0;
                padding: 2px 10px ;
            }
            .section-day{
                text-align: center;
                font-size: .8rem;
                padding: 2px;
                border-radius: 0 0 10px 10px ;
            }
        }
        .link{
            flex: 1;
            text-align: right;
            padding: 10px;
            .assista{
                margin: 5px;
                span{
                    margin-left: 10px;
                }
            }
        }
        .title{
            flex: auto;
            padding: 1rem;
            .section-title{
                font-size: 1.3rem;
            }
            .section-chair{
                font-size: 1rem;
            }
        }
        
    }
    
    .papers{
        .paper-link{
            &:hover{
                .paper{
                    transform: scale(1.02)  translateX(25px);
                    background-color: darken($branco-smoke,5%);
                }
            }
        }
        .paper{
            transition: .3s ease;
            padding: .1rem;
            border: 1px solid $branco-smoke;
            background-color: $branco-smoke;
            padding: .5rem;
            border-radius: 10px;
            margin: .5rem;
            .paper-title{
                color: $hortela;
                font-size: 1.1rem;
            }
            .authors{
                .author{
                    font-size: .9rem;
                    color: $preto;
                }
            }
        }
    }
}

.sessoes{
    a{
        &.is-large{
            margin: 15px 0;
            font-size: 2rem;
        }          
    }
    svg{
        margin-right: 15px;
    }
}

.botao-palestra{
    margin-top: 5px;
    transition: .9s ease;
    strong{
        // color: #ff3860;
        color: $branco;
        transition: ease;
        overflow: hidden;
    }
    svg{
        color: $branco;
        margin-left: 10px;
    }
    &.is-danger{
        svg{
            margin-left: 0px;
            margin-right: 10px;
        }
    }
    &.is-warning{
        strong, svg{
            color: $preto !important;
        }
    }
    
}

.secretaria{
    margin-bottom: 2rem;
    margin-top: 1rem;
    p{
        margin-bottom: .5rem;
    }
    .is-large{
        width: 100%;
    }
}

.botao-painel{
    margin-left: 20px;
    svg{
        margin-right: 10px;
    }    
}
